Repository ukama/ukama, pull requests merged in 2023-05, with the labels that each got.

#507 Billing system invoice
  systems/billing/invoice/Dockerfile
  systems/billing/invoice/Int.Dockerfile
  systems/billing/invoice/Makefile
  systems/billing/invoice/cmd/server/main.go
  systems/billing/invoice/cmd/version/version.go
  systems/billing/invoice/go.mod
  systems/billing/invoice/go.sum
  systems/billing/invoice/internal/config.go
  systems/billing/invoice/internal/db/invoice_repo.go
  systems/billing/invoice/internal/db/invoice_repo_test.go
  systems/billing/invoice/internal/db/model.go
  systems/billing/invoice/internal/global.go
  systems/billing/invoice/internal/pdf/pdf.go
  systems/billing/invoice/internal/pdf/server/fs.go
  systems/billing/invoice/internal/pdf/templates/orig.slim
  systems/billing/invoice/internal/pdf/templates/test.html.tmpl
  systems/billing/invoice/internal/server/invoice.go
  systems/billing/invoice/internal/server/invoice_test.go
  systems/billing/invoice/internal/util/invoice.go
  systems/billing/invoice/mocks/InvoiceRepo.go
  systems/billing/invoice/pb/gen/invoice.pb.go
  systems/billing/invoice/pb/gen/invoice.validator.pb.go
  systems/billing/invoice/pb/gen/invoice_grpc.pb.go
  systems/billing/invoice/pb/gen/mocks/InvoiceServiceClient.go
  systems/billing/invoice/pb/gen/mocks/InvoiceServiceServer.go
  systems/billing/invoice/pb/gen/mocks/UnsafeInvoiceServiceServer.go
  systems/billing/invoice/pb/invoice.proto
  systems/billing/invoice/test/integration/integration_test.go
  systems/docker-compose.yml
Labels: software systems, billing system

#508 Billing system api gateway updates
  systems/billing/api-gateway/go.mod
  systems/billing/api-gateway/internal/client/billing.go
  systems/billing/api-gateway/internal/client/pdf.go
  systems/billing/api-gateway/internal/client/pdf_test.go
  systems/billing/api-gateway/internal/config.go
  systems/billing/api-gateway/internal/rest/api.go
  systems/billing/api-gateway/internal/rest/router.go
  systems/billing/api-gateway/internal/rest/router_test.go
  systems/billing/api-gateway/mocks/PdfClient.go
  systems/billing/api-gateway/mocks/billing.go
Labels: software systems, billing system

#474 Billing system Collector
  systems/billing/collector/Dockerfile
  systems/billing/collector/Int.Dockerfile
  systems/billing/collector/Makefile
  systems/billing/collector/cmd/server/main.go
  systems/billing/collector/cmd/version/version.go
  systems/billing/collector/go.mod
  systems/billing/collector/go.sum
  systems/billing/collector/internal/clients/client.go
  systems/billing/collector/internal/clients/lago.go
  systems/billing/collector/internal/config.go
  systems/billing/collector/internal/global.go
  systems/billing/collector/internal/server/event.go
  systems/billing/collector/internal/server/event_test.go
  systems/billing/collector/mocks/BillingClient.go
  systems/billing/collector/test/integration/integration_test.go
  systems/docker-compose.yml
Labels: software systems, billing system

#511 Authorization implemented on auth system
  systems/auth/api-gateway/cmd/server/main.go
  systems/auth/api-gateway/go.mod
  systems/auth/api-gateway/mocks/authManager.go
  systems/auth/api-gateway/pkg/client/auth.go
  systems/auth/api-gateway/pkg/config.go
  systems/auth/api-gateway/pkg/global.go
  systems/auth/api-gateway/pkg/rest/api.go
  systems/auth/api-gateway/pkg/rest/router.go
  systems/auth/api-gateway/pkg/rest/router_test.go
  systems/auth/api-gateway/pkg/utils.go
  systems/auth/api-gateway/pkg/utils_test.go
  systems/common/config/config.go
  systems/common/providers/auth.go
  systems/data-plan/api-gateway/pkg/rest/router.go
  systems/registry/api-gateway/mocks/registry.go
  systems/registry/api-gateway/pkg/client/registry.go
  systems/registry/api-gateway/pkg/rest/api.go
  systems/registry/api-gateway/pkg/rest/router.go
  systems/registry/org/Makefile
  systems/registry/org/mocks/OrgRepo.go
  systems/registry/org/mocks/UserClientProvider.go
  systems/registry/org/mocks/UserRepo.go
  systems/registry/org/pb/gen/mocks/OrgServiceClient.go
  systems/registry/org/pb/gen/mocks/OrgServiceServer.go
  systems/registry/org/pb/gen/mocks/UnsafeOrgServiceServer.go
  systems/registry/org/pb/gen/org.pb.go
  systems/registry/org/pb/gen/org.validator.pb.go
  systems/registry/org/pb/gen/org_grpc.pb.go
  systems/registry/org/pb/org.proto
  systems/registry/org/pkg/db/model.go
  systems/registry/org/pkg/db/org_repo_test.go
  systems/registry/org/pkg/server/org.go
  systems/registry/users/mocks/OrgClientProvider.go
  systems/registry/users/mocks/UserRepo.go
  systems/registry/users/pb/gen/mocks/UnsafeUserServiceServer.go
  systems/registry/users/pb/gen/mocks/UserServiceClient.go
  systems/registry/users/pb/gen/mocks/UserServiceServer.go
  systems/registry/users/pb/gen/users.pb.go
  systems/registry/users/pb/gen/users.validator.pb.go
  systems/registry/users/pb/gen/users_grpc.pb.go
  systems/registry/users/pb/users.proto
  systems/registry/users/pkg/db/model.go
  systems/registry/users/pkg/server/user_test.go
  systems/subscriber/api-gateway/pkg/rest/router.go
  systems/subscriber/sim-pool/cmd/server/main.go
Labels: software systems, auth system

#514 Messaging system init client
  systems/messaging/initClient/inc/callback.h
  systems/messaging/initClient/inc/httpStatus.h
  systems/messaging/initClient/inc/initClient.h
  systems/messaging/initClient/src/callback.c
  systems/messaging/initClient/src/init.c
  systems/messaging/initClient/src/jserdes.c
  systems/messaging/initClient/src/main.c
  systems/messaging/initClient/src/network.c
  systems/messaging/mesh/configs/config.toml
  systems/messaging/mesh/inc/config.h
  systems/messaging/mesh/inc/initClient.h
  systems/messaging/mesh/inc/jserdes.h
  systems/messaging/mesh/src/config.c
  systems/messaging/mesh/src/data.c
  systems/messaging/mesh/src/initClient.c
  systems/messaging/mesh/src/jserdes.c
Labels: software systems

#517 Testing system registry
  testing/integration/go.mod
  testing/integration/go.sum
  testing/integration/pkg/registry/registry.go
  testing/integration/pkg/registry/workflow_test.go
  testing/integration/pkg/util/random.go
  testing/integration/pkg/util/rest.go
Labels: software systems
