Repository ukama/ukama, pull requests merged in 2023-06, with the labels that each got.

#528 Billing hotfixes
  systems/billing/api-gateway/cmd/main.go
  systems/billing/api-gateway/pkg/client/billing.go
  systems/billing/api-gateway/pkg/client/billing_test.go
  systems/billing/api-gateway/pkg/client/pdf.go
  systems/billing/api-gateway/pkg/client/pdf_test.go
  systems/billing/api-gateway/pkg/config.go
  systems/billing/api-gateway/pkg/global.go
  systems/billing/api-gateway/pkg/rest/api.go
  systems/billing/api-gateway/pkg/rest/router.go
  systems/billing/api-gateway/pkg/rest/router_test.go
  systems/billing/collector/Makefile
  systems/billing/collector/cmd/server/main.go
  systems/billing/collector/mocks/BillingClient.go
  systems/billing/collector/pkg/clients/client.go
  systems/billing/collector/pkg/clients/lago.go
  systems/billing/collector/pkg/config.go
  systems/billing/collector/pkg/global.go
  systems/billing/collector/pkg/server/event.go
  systems/billing/collector/pkg/server/event_test.go
  systems/billing/invoice/Makefile
  systems/billing/invoice/cmd/server/main.go
  systems/billing/invoice/mocks/InvoiceRepo.go
  systems/billing/invoice/pkg/config.go
  systems/billing/invoice/pkg/db/invoice_repo.go
  systems/billing/invoice/pkg/db/invoice_repo_test.go
  systems/billing/invoice/pkg/db/model.go
  systems/billing/invoice/pkg/global.go
  systems/billing/invoice/pkg/pdf/pdf.go
  systems/billing/invoice/pkg/pdf/server/fs.go
  systems/billing/invoice/pkg/pdf/templates/orig.slim
  systems/billing/invoice/pkg/pdf/templates/test.html.tmpl
  systems/billing/invoice/pkg/server/invoice.go
  systems/billing/invoice/pkg/server/invoice_test.go
  systems/billing/invoice/pkg/util/invoice.go
Labels: software systems

#531 Messaging system nns
  .github/workflows/systems-messaging-api-gateway-pr-release.yaml
  .github/workflows/systems-messaging-api-gateway.yaml
  .github/workflows/systems-messaging-nns-pr-release.yaml
  .github/workflows/systems-messaging-nns.yaml
  systems/common/pb/events/node.proto
  systems/common/pb/gen/events/events.validator.pb.go
  systems/common/pb/gen/events/node.pb.go
  systems/common/pb/gen/events/node.validator.pb.go
  systems/messaging/api-gateway/Dockerfile
  systems/messaging/api-gateway/Int.Dockerfile
  systems/messaging/api-gateway/Makefile
  systems/messaging/api-gateway/cmd/main.go
  systems/messaging/api-gateway/cmd/version/version.go
  systems/messaging/api-gateway/go.mod
  systems/messaging/api-gateway/go.sum
  systems/messaging/api-gateway/mocks/nns.go
  systems/messaging/api-gateway/pkg/client/nns.go
  systems/messaging/api-gateway/pkg/config.go
  systems/messaging/api-gateway/pkg/global.go
  systems/messaging/api-gateway/pkg/rest/api.go
  systems/messaging/api-gateway/pkg/rest/router.go
  systems/messaging/api-gateway/pkg/rest/router_test.go
  systems/messaging/api-gateway/test/integration/gateway_test.go
  systems/messaging/coredns/Corefile
  systems/messaging/docker-compose.yml
  systems/messaging/mesh/mesh
  systems/messaging/nns/DEBUG/Corefile
  systems/messaging/nns/Dockerfile
  systems/messaging/nns/Dockerfile.listener
  systems/messaging/nns/Int.Dockerfile
  systems/messaging/nns/Makefile
  systems/messaging/nns/README.md
  systems/messaging/nns/cmd/server/main.go
  systems/messaging/nns/cmd/version/version.go
  systems/messaging/nns/go.mod
  systems/messaging/nns/go.sum
  systems/messaging/nns/mocks/NnsReader.go
  systems/messaging/nns/mocks/NnsWriter.go
  systems/messaging/nns/mocks/NodeRegistryClient.go
  systems/messaging/nns/pb/gen/mocks/NnsClient.go
  systems/messaging/nns/pb/gen/mocks/NnsServer.go
  systems/messaging/nns/pb/gen/mocks/UnsafeNnsServer.go
  systems/messaging/nns/pb/gen/nns.pb.go
  systems/messaging/nns/pb/gen/nns.pb.gw.go
  systems/messaging/nns/pb/gen/nns.validator.pb.go
  systems/messaging/nns/pb/gen/nns_grpc.pb.go
  systems/messaging/nns/pb/nns.proto
  systems/messaging/nns/pkg/client/node.go
  systems/messaging/nns/pkg/config.go
  systems/messaging/nns/pkg/global.go
  systems/messaging/nns/pkg/metrics/metrics.go
  systems/messaging/nns/pkg/nns.go
  systems/messaging/nns/pkg/node_org_map.go
  systems/messaging/nns/pkg/server/dns.go
  systems/messaging/nns/pkg/server/dns_test.go
  systems/messaging/nns/pkg/server/grpc.go
  systems/messaging/nns/pkg/server/nns_event_server.go
  systems/messaging/nns/test/integration/net_test.go
  systems/messaging/nns/tools.go
Labels: software systems

#534 Metrics system ws
  systems/metrics/api-gateway/cmd/main.go
  systems/metrics/api-gateway/go.mod
  systems/metrics/api-gateway/go.sum
  systems/metrics/api-gateway/pkg/config.go
  systems/metrics/api-gateway/pkg/metric.go
  systems/metrics/api-gateway/pkg/metric_test.go
  systems/metrics/api-gateway/pkg/rest/api.go
  systems/metrics/api-gateway/pkg/rest/router.go
  systems/metrics/api-gateway/pkg/rest/router_test.go
  systems/metrics/docker-compose.yml
Labels: software systems, metric system

#535 Messaging system - Mesh implementation
  nodes/ukamaOS/distro/system/mesh/configs/config.toml
  nodes/ukamaOS/distro/system/mesh/inc/config.h
  nodes/ukamaOS/distro/system/mesh/inc/data.h
  nodes/ukamaOS/distro/system/mesh/inc/httpStatus.h
  nodes/ukamaOS/distro/system/mesh/inc/jserdes.h
  nodes/ukamaOS/distro/system/mesh/inc/map.h
  nodes/ukamaOS/distro/system/mesh/inc/mesh.h
  nodes/ukamaOS/distro/system/mesh/inc/websocket.h
  nodes/ukamaOS/distro/system/mesh/inc/work.h
  nodes/ukamaOS/distro/system/mesh/src/callback.c
  nodes/ukamaOS/distro/system/mesh/src/config.c
  nodes/ukamaOS/distro/system/mesh/src/data.c
  nodes/ukamaOS/distro/system/mesh/src/jserdes.c
  nodes/ukamaOS/distro/system/mesh/src/main.c
  nodes/ukamaOS/distro/system/mesh/src/map.c
  nodes/ukamaOS/distro/system/mesh/src/network.c
  nodes/ukamaOS/distro/system/mesh/src/websocket.c
  nodes/ukamaOS/distro/system/mesh/src/work.c
  systems/messaging/mesh/inc/config.h
  systems/messaging/mesh/inc/data.h
  systems/messaging/mesh/inc/httpStatus.h
  systems/messaging/mesh/inc/initClient.h
  systems/messaging/mesh/inc/jserdes.h
  systems/messaging/mesh/inc/link.pb-c.h
  systems/messaging/mesh/inc/map.h
  systems/messaging/mesh/inc/mesh.h
  systems/messaging/mesh/inc/nodeEvent.pb-c.h
  systems/messaging/mesh/inc/u_amqp.h
  systems/messaging/mesh/inc/work.h
  systems/messaging/mesh/proto/nodeEvent.proto
  systems/messaging/mesh/src/amqp.c
  systems/messaging/mesh/src/callback.c
  systems/messaging/mesh/src/config.c
  systems/messaging/mesh/src/data.c
  systems/messaging/mesh/src/initClient.c
  systems/messaging/mesh/src/jserdes.c
  systems/messaging/mesh/src/link.pb-c.c
  systems/messaging/mesh/src/main.c
  systems/messaging/mesh/src/map.c
  systems/messaging/mesh/src/misc.c
  systems/messaging/mesh/src/network.c
  systems/messaging/mesh/src/nodeEvent.pb-c.c
  systems/messaging/mesh/src/websocket.c
  systems/messaging/mesh/src/work.c
Labels: messaging system

#536 Notification system
  .github/workflows/services-cloud-notify-pr-release.yaml
  .github/workflows/services-cloud-notify.yaml
  systems/notification/notify/Dockerfile
  systems/notification/notify/Int.Dockerfile
  systems/notification/notify/Makefile
  systems/notification/notify/README.md
  systems/notification/notify/cmd/notify/main.go
  systems/notification/notify/cmd/version/version.go
  systems/notification/notify/go.mod
  systems/notification/notify/go.sum
  systems/notification/notify/internal/config.go
  systems/notification/notify/internal/db/model.go
  systems/notification/notify/internal/db/notification_repo.go
  systems/notification/notify/internal/db/notification_repo_test.go
  systems/notification/notify/internal/global.go
  systems/notification/notify/internal/notify/notify.go
  systems/notification/notify/internal/notify/notify_test.go
  systems/notification/notify/internal/server/api.go
  systems/notification/notify/internal/server/router.go
  systems/notification/notify/internal/server/router_test.go
  systems/notification/notify/mocks/NotificationRepo.go
  systems/notification/notify/specs/notify/proto/notify.proto
  systems/notification/notify/specs/notify/spec/notify.pb.go
  systems/notification/notify/specs/notify/spec/notify.validator.pb.go
  systems/notification/notify/test/integration/main_test.go
  systems/notification/notify/test/integration/notify_test.go
  systems/notification/notify/test/mock/listener.go
  testing/node/capps/notify.toml
Labels: notification-system

#533 Registry system node updates fixes (merge to main)
  systems/common/pb/events/node.proto
  systems/common/pb/gen/events/events.pb.go
  systems/common/pb/gen/events/events_grpc.pb.go
  systems/common/pb/gen/events/node.pb.go
  systems/registry/api-gateway/pkg/client/node.go
  systems/registry/api-gateway/pkg/rest/api.go
  systems/registry/api-gateway/pkg/rest/router.go
  systems/registry/node/Makefile
  systems/registry/node/cmd/server/main.go
  systems/registry/node/go.mod
  systems/registry/node/go.sum
  systems/registry/node/mocks/NetworkClientProvider.go
  systems/registry/node/mocks/NodeRepo.go
  systems/registry/node/mocks/OrgClientProvider.go
  systems/registry/node/mocks/SiteRepo.go
  systems/registry/node/pb/gen/mocks/NodeServiceClient.go
  systems/registry/node/pb/gen/mocks/NodeServiceServer.go
  systems/registry/node/pb/gen/mocks/UnsafeNodeServiceServer.go
  systems/registry/node/pb/gen/node.pb.go
  systems/registry/node/pb/gen/node.validator.pb.go
  systems/registry/node/pb/gen/node_grpc.pb.go
  systems/registry/node/pb/node.proto
  systems/registry/node/pkg/config.go
  systems/registry/node/pkg/db/model.go
  systems/registry/node/pkg/db/node_repo.go
  systems/registry/node/pkg/db/node_repo_test.go
  systems/registry/node/pkg/db/site_repo.go
  systems/registry/node/pkg/db/site_repo_test.go
  systems/registry/node/pkg/providers/net_client.go
  systems/registry/node/pkg/providers/org_client.go
  systems/registry/node/pkg/server/event.go
  systems/registry/node/pkg/server/node.go
  systems/registry/node/pkg/server/node_test.go
  systems/registry/node/test/integration/node_test.go
Labels: software systems, registry-system
