Repository ukama/ukama, pull requests merged in 2023-04, with the labels that each got.

#488 Auth provider common implementation
  systems/common/config/config.go
  systems/common/go.mod
  systems/common/go.sum
  systems/common/providers/auth.go
  systems/common/rest/fizz.go
  systems/common/rest/swagger/swagger-ui/dark-theme.css
  systems/common/rest/swagger/swagger-ui/favicon-16x16.png
  systems/common/rest/swagger/swagger-ui/favicon-32x32.png
  systems/common/rest/swagger/swagger-ui/index.gohtml
  systems/common/rest/swagger/swagger-ui/swagger-ui.css
  systems/data-plan/api-gateway/go.mod
  systems/data-plan/api-gateway/go.sum
  systems/data-plan/api-gateway/pkg/rest/router.go
  systems/registry/api-gateway/go.mod
  systems/registry/api-gateway/go.sum
  systems/registry/api-gateway/pkg/rest/router.go
  systems/subscriber/api-gateway/go.mod
  systems/subscriber/api-gateway/go.sum
  systems/subscriber/api-gateway/pkg/rest/router.go
Labels: enhancement, auth system

#489 Auth system API GW
  systems/auth/api-gateway/Dockerfile
  systems/auth/api-gateway/Int.Dockerfile
  systems/auth/api-gateway/Makefile
  systems/auth/api-gateway/README.md
  systems/auth/api-gateway/cmd/server/main.go
  systems/auth/api-gateway/cmd/version/version.go
  systems/auth/api-gateway/go.mod
  systems/auth/api-gateway/go.sum
  systems/auth/api-gateway/pkg/config.go
  systems/auth/api-gateway/pkg/global.go
  systems/auth/api-gateway/pkg/rest/api.go
  systems/auth/api-gateway/pkg/rest/router.go
  systems/auth/api-gateway/pkg/utils.go
  systems/common/config/config.go
  systems/common/rest/swagger/swagger-ui/swagger-ui-bundle.js
  systems/common/rest/swagger/swagger-ui/swagger-ui.js
  systems/data-plan/api-gateway/pkg/config.go
  systems/data-plan/api-gateway/pkg/rest/router.go
  systems/registry/api-gateway/Makefile
  systems/registry/api-gateway/pkg/config.go
  systems/registry/api-gateway/pkg/rest/router.go
  systems/subscriber/api-gateway/pkg/config.go
  systems/subscriber/api-gateway/pkg/rest/router.go
Labels: enhancement, software systems, auth system

#496 Billing system api gateway
  systems/billing/api-gateway/Dockerfile
  systems/billing/api-gateway/Int.Dockerfile
  systems/billing/api-gateway/Makefile
  systems/billing/api-gateway/cmd/main.go
  systems/billing/api-gateway/cmd/version/version.go
  systems/billing/api-gateway/go.sum
  systems/billing/api-gateway/internal/client/billing.go
  systems/billing/api-gateway/internal/client/billing_test.go
  systems/billing/api-gateway/internal/config.go
  systems/billing/api-gateway/internal/global.go
  systems/billing/api-gateway/internal/rest/api.go
  systems/billing/api-gateway/internal/rest/router.go
  systems/billing/api-gateway/internal/rest/router_test.go
  systems/billing/api-gateway/mocks/billing.go
  systems/billing/api-gateway/test/integration/api-gateway_test.go
Labels: software systems, billing system
