Repository ukama/ukama, pull requests merged in 2023-08, with the labels that each got.

#550 Notification system: Notify Service. Fixes #543
  .github/workflows/systems-notification-notify-pr-release.yaml
  .github/workflows/systems-notification-notify.yaml
  systems/common/pb/events/notification.proto
  systems/common/pb/gen/events/notification.pb.go
  systems/common/pb/gen/events/notification.validator.pb.go
  systems/notification/README.md
  systems/notification/docker-compose.yml
  systems/notification/notify/Makefile
  systems/notification/notify/README.md
  systems/notification/notify/cmd/notify/main.go
  systems/notification/notify/cmd/server/main.go
  systems/notification/notify/go.mod
  systems/notification/notify/go.sum
  systems/notification/notify/internal/config.go
  systems/notification/notify/internal/db/model.go
  systems/notification/notify/internal/db/notification_repo.go
  systems/notification/notify/internal/db/notification_repo_test.go
  systems/notification/notify/internal/global.go
  systems/notification/notify/internal/notify/notify.go
  systems/notification/notify/internal/notify/notify_test.go
  systems/notification/notify/internal/server/api.go
  systems/notification/notify/internal/server/event.go
  systems/notification/notify/internal/server/event_test.go
  systems/notification/notify/internal/server/notify.go
  systems/notification/notify/internal/server/notify_test.go
  systems/notification/notify/internal/server/router.go
  systems/notification/notify/internal/server/router_test.go
  systems/notification/notify/mocks/NotificationRepo.go
  systems/notification/notify/pb/gen/mocks/NotifyServiceClient.go
  systems/notification/notify/pb/gen/mocks/NotifyServiceServer.go
  systems/notification/notify/pb/gen/mocks/UnsafeNotifyServiceServer.go
  systems/notification/notify/pb/gen/notify.pb.go
  systems/notification/notify/pb/gen/notify.validator.pb.go
  systems/notification/notify/pb/gen/notify_grpc.pb.go
  systems/notification/notify/pb/notify.proto
  systems/notification/notify/specs/notify/proto/notify.proto
  systems/notification/notify/specs/notify/spec/notify.pb.go
  systems/notification/notify/test/integration/main_test.go
  systems/notification/notify/test/integration/notify_test.go
  systems/notification/notify/test/mock/listener.go
Labels: software systems, notification-system

#559 Registry system user restore proto
  systems/registry/api-gateway/pkg/client/node.go
  systems/registry/api-gateway/pkg/rest/api.go
  systems/registry/api-gateway/pkg/rest/router.go
  systems/registry/users/pb/gen/users.pb.go
  systems/registry/users/pb/gen/users.validator.pb.go
  systems/registry/users/pb/users.proto
Labels: software systems, registry-system

#558 Node wimc.d
  nodes/ukamaOS/distro/system/wimc/Makefile
  nodes/ukamaOS/distro/system/wimc/agents/agent_main.c
  nodes/ukamaOS/distro/system/wimc/agents/callback.c
  nodes/ukamaOS/distro/system/wimc/agents/jserdes.c
  nodes/ukamaOS/distro/system/wimc/agents/network.c
  nodes/ukamaOS/distro/system/wimc/agents/shmem.c
  nodes/ukamaOS/distro/system/wimc/agents/thread.c
  nodes/ukamaOS/distro/system/wimc/agents/wimc.c
  nodes/ukamaOS/distro/system/wimc/common/url.c
  nodes/ukamaOS/distro/system/wimc/common/utils.c
  nodes/ukamaOS/distro/system/wimc/inc/agent.h
  nodes/ukamaOS/distro/system/wimc/inc/agent/callback.h
  nodes/ukamaOS/distro/system/wimc/inc/agent/jserdes.h
  nodes/ukamaOS/distro/system/wimc/inc/agent/network.h
  nodes/ukamaOS/distro/system/wimc/inc/callback.h
  nodes/ukamaOS/distro/system/wimc/inc/common/utils.h
  nodes/ukamaOS/distro/system/wimc/inc/http_status.h
  nodes/ukamaOS/distro/system/wimc/inc/hub.h
  nodes/ukamaOS/distro/system/wimc/inc/jserdes.h
  nodes/ukamaOS/distro/system/wimc/inc/network.h
  nodes/ukamaOS/distro/system/wimc/inc/provider.h
  nodes/ukamaOS/distro/system/wimc/inc/wimc.h
  nodes/ukamaOS/distro/system/wimc/provider/Makefile
  nodes/ukamaOS/distro/system/wimc/src/agent.c
  nodes/ukamaOS/distro/system/wimc/src/callback.c
  nodes/ukamaOS/distro/system/wimc/src/hub.c
  nodes/ukamaOS/distro/system/wimc/src/jserdes.c
  nodes/ukamaOS/distro/system/wimc/src/main.c
  nodes/ukamaOS/distro/system/wimc/src/network.c
  nodes/ukamaOS/distro/system/wimc/src/provider.c
  nodes/ukamaOS/distro/system/wimc/src/tasks.c
  nodes/ukamaOS/distro/system/wimc/test.db
Labels: ukamaOS

#568 updated metric ws.
  systems/metrics/api-gateway/Makefile
  systems/metrics/api-gateway/pkg/metric.go
  systems/metrics/api-gateway/pkg/rest/router.go
  systems/metrics/docker-compose.yml
  systems/metrics/exporter/Makefile
Labels: metric system
