Repository ukama/ukama, pull requests merged in 2023-07, with the labels that each got.

#542 Subscriber system hotfixes
  systems/subscriber/sim-manager/Makefile
  systems/subscriber/sim-manager/mocks/AgentAdapter.go
  systems/subscriber/sim-manager/mocks/AgentFactory.go
  systems/subscriber/sim-manager/mocks/OperatorClient.go
  systems/subscriber/sim-manager/mocks/PackageClient.go
  systems/subscriber/sim-manager/mocks/PackageRepo.go
  systems/subscriber/sim-manager/mocks/SimPoolClientProvider.go
  systems/subscriber/sim-manager/mocks/SimRepo.go
  systems/subscriber/sim-manager/mocks/SubscriberRegistryClientProvider.go
  systems/subscriber/sim-manager/pb/gen/mocks/SimManagerServiceClient.go
  systems/subscriber/sim-manager/pb/gen/mocks/SimManagerServiceServer.go
  systems/subscriber/sim-manager/pb/gen/mocks/UnsafeSimManagerServiceServer.go
  systems/subscriber/sim-manager/pb/gen/sim_manager.pb.go
  systems/subscriber/sim-manager/pb/gen/sim_manager_grpc.pb.go
  systems/subscriber/sim-manager/pb/sim_manager.proto
  systems/subscriber/sim-manager/pkg/clients/adapters/agent.go
  systems/subscriber/sim-manager/pkg/clients/adapters/operator_agent.go
  systems/subscriber/sim-manager/pkg/clients/adapters/test_agent.go
  systems/subscriber/sim-manager/pkg/clients/providers/operator.go
  systems/subscriber/sim-manager/pkg/server/sim_manager.go
  systems/subscriber/sim-manager/pkg/server/sim_manager_test.go
  systems/subscriber/test-agent/Makefile
  systems/subscriber/test-agent/mocks/Storage.go
  systems/subscriber/test-agent/pb/gen/mocks/TestAgentServiceClient.go
  systems/subscriber/test-agent/pb/gen/mocks/TestAgentServiceServer.go
  systems/subscriber/test-agent/pb/gen/mocks/UnsafeTestAgentServiceServer.go
  systems/subscriber/test-agent/pb/gen/test_agent.pb.go
  systems/subscriber/test-agent/pb/gen/test_agent.validator.pb.go
  systems/subscriber/test-agent/pb/gen/test_agent_grpc.pb.go
  systems/subscriber/test-agent/pb/test_agent.proto
  systems/subscriber/test-agent/pkg/server/test_agent.go
  systems/subscriber/test-agent/pkg/server/test_agent_test.go
Labels: subscriber-system

#547 Node deviced
  nodes/ukamaOS/distro/system/deviced/Makefile
  nodes/ukamaOS/distro/system/deviced/inc/config.h
  nodes/ukamaOS/distro/system/deviced/inc/deviced.h
  nodes/ukamaOS/distro/system/deviced/inc/http_status.h
  nodes/ukamaOS/distro/system/deviced/inc/json_types.h
  nodes/ukamaOS/distro/system/deviced/inc/web_client.h
  nodes/ukamaOS/distro/system/deviced/inc/web_service.h
  nodes/ukamaOS/distro/system/deviced/src/jserdes.c
  nodes/ukamaOS/distro/system/deviced/src/main.c
  nodes/ukamaOS/distro/system/deviced/src/network.c
  nodes/ukamaOS/distro/system/deviced/src/reboot.c
  nodes/ukamaOS/distro/system/deviced/src/web_client.c
  nodes/ukamaOS/distro/system/deviced/src/web_service.c
  nodes/ukamaOS/distro/system/notifyd/configs/status.map
  nodes/ukamaOS/distro/system/notifyd/inc/notify_macros.h
  nodes/ukamaOS/distro/system/notifyd/src/main.c
  nodes/ukamaOS/distro/system/notifyd/src/network.c
  nodes/ukamaOS/distro/system/notifyd/src/notification.c
Labels: Node

#549 Node starter.d
  nodes/ukamaOS/distro/system/lxce/Makefile
  nodes/ukamaOS/distro/system/lxce/configs/manifest.json
  nodes/ukamaOS/distro/system/lxce/inc/manifest.h
  nodes/ukamaOS/distro/system/lxce/src/main.c
  nodes/ukamaOS/distro/system/lxce/src/manifest.c
  nodes/ukamaOS/distro/system/starter/Makefile
  nodes/ukamaOS/distro/system/starter/configs/manifest.json
  nodes/ukamaOS/distro/system/starter/inc/capp_config.h
  nodes/ukamaOS/distro/system/starter/inc/config.h
  nodes/ukamaOS/distro/system/starter/inc/http_status.h
  nodes/ukamaOS/distro/system/starter/inc/manifest.h
  nodes/ukamaOS/distro/system/starter/inc/starter.h
  nodes/ukamaOS/distro/system/starter/inc/web_client.h
  nodes/ukamaOS/distro/system/starter/inc/web_service.h
  nodes/ukamaOS/distro/system/starter/src/.manifest.c.swp
  nodes/ukamaOS/distro/system/starter/src/capp_config.c
  nodes/ukamaOS/distro/system/starter/src/capp_runtime.c
  nodes/ukamaOS/distro/system/starter/src/capp_unpack.c
  nodes/ukamaOS/distro/system/starter/src/main.c
  nodes/ukamaOS/distro/system/starter/src/manifest.c
  nodes/ukamaOS/distro/system/starter/src/network.c
  nodes/ukamaOS/distro/system/starter/src/space.c
  nodes/ukamaOS/distro/system/starter/src/web_client.c
  nodes/ukamaOS/distro/system/starter/src/web_service.c
Labels: Node, ukamaOS

#539 registry/node: add hotfixes.
  systems/registry/api-gateway/pkg/client/node.go
  systems/registry/api-gateway/pkg/rest/api.go
  systems/registry/api-gateway/pkg/rest/router.go
  systems/registry/docker-compose.yml
  systems/registry/node/pkg/db/model.go
  systems/registry/node/pkg/db/node_repo.go
  systems/registry/node/pkg/db/node_repo_test.go
  systems/registry/node/pkg/db/site_repo.go
  systems/registry/node/pkg/server/node.go
Labels: registry-system
