Repository ukama/ukama, pull requests merged in 2024-09, with the labels that each got.

#739 common: Updates for webhooks system. Fixes #738
  systems/common/pb/events/webhook.proto
  systems/common/pb/gen/events/webhook.pb.go
  systems/common/pb/gen/events/webhook.validator.pb.go
  testing/services/hooks/Dockerfile
  testing/services/hooks/Int.Dockerfile
  testing/services/hooks/Makefile
  testing/services/hooks/README.md
  testing/services/hooks/cmd/server/main.go
  testing/services/hooks/cmd/version/version.go
  testing/services/hooks/go.mod
  testing/services/hooks/go.sum
  testing/services/hooks/internal/clients/pawapay_client.go
  testing/services/hooks/internal/clients/pawapay_client_test.go
  testing/services/hooks/internal/clients/payments_client.go
  testing/services/hooks/internal/clients/webhooks_client.go
  testing/services/hooks/internal/config.go
  testing/services/hooks/internal/global.go
  testing/services/hooks/internal/scheduler/scheduler.go
  testing/services/hooks/internal/server/hooks.go
  testing/services/hooks/internal/server/hooks_test.go
  testing/services/hooks/mocks/HookScheduler.go
  testing/services/hooks/mocks/PawapayClient.go
  testing/services/hooks/mocks/PaymentsClient.go
  testing/services/hooks/mocks/WebhooksClient.go
  testing/services/hooks/pb/gen/hooks.pb.go
  testing/services/hooks/pb/gen/hooks.validator.pb.go
  testing/services/hooks/pb/gen/hooks_grpc.pb.go
  testing/services/hooks/pb/gen/mocks/HookServiceClient.go
  testing/services/hooks/pb/gen/mocks/HookServiceServer.go
  testing/services/hooks/pb/gen/mocks/UnsafeHookServiceServer.go
  testing/services/hooks/pb/hooks.proto
  testing/services/hooks/test/integration/integration_test.go
  testing/services/hooks/util/amount.go
  testing/services/hooks/util/amount_test.go
  testing/services/hooks/util/types.go
Labels: enhancement, software systems, common

#761 testing/hooks: fix webhook callback URL.
  builder/scripts/deploy.sh
  builder/scripts/deploy_orgs.sh
  systems/nucleus/api-gateway/pkg/rest/router.go
  systems/registry/api-gateway/pkg/rest/router.go
  systems/subscriber/api-gateway/pkg/rest/router.go
  testing/services/hooks/docker-compose.yml
  testing/services/hooks/internal/clients/webhooks_client.go
  testing/services/hooks/internal/server/hooks.go
Labels: software systems

#765 Metricsd update
  nodes/configs/capps/metricsd/metrics_config.toml
  nodes/ukamaOS/distro/platform/sys/inc/usys_services.h
  nodes/ukamaOS/distro/scripts/files/services
  nodes/ukamaOS/distro/system/meshd/src/data.c
  nodes/ukamaOS/distro/system/meshd/src/jserdes.c
  nodes/ukamaOS/distro/system/metricsd/Makefile
  nodes/ukamaOS/distro/system/metricsd/inc/config.h
  nodes/ukamaOS/distro/system/metricsd/inc/file.h
  nodes/ukamaOS/distro/system/metricsd/inc/httpStatus.h
  nodes/ukamaOS/distro/system/metricsd/inc/metrics.h
  nodes/ukamaOS/distro/system/metricsd/inc/server.h
  nodes/ukamaOS/distro/system/metricsd/inc/web_service.h
  nodes/ukamaOS/distro/system/metricsd/src/agents/fp_agent.c
  nodes/ukamaOS/distro/system/metricsd/src/agents/sys_cpu.c
  nodes/ukamaOS/distro/system/metricsd/src/agents/sys_generic.c
  nodes/ukamaOS/distro/system/metricsd/src/agents/sys_mem.c
  nodes/ukamaOS/distro/system/metricsd/src/agents/sys_net.c
  nodes/ukamaOS/distro/system/metricsd/src/agents/sys_storage.c
  nodes/ukamaOS/distro/system/metricsd/src/agents/sysfs_agent.c
  nodes/ukamaOS/distro/system/metricsd/src/collector.c
  nodes/ukamaOS/distro/system/metricsd/src/config.c
  nodes/ukamaOS/distro/system/metricsd/src/file.c
  nodes/ukamaOS/distro/system/metricsd/src/log.c
  nodes/ukamaOS/distro/system/metricsd/src/main.c
  nodes/ukamaOS/distro/system/metricsd/src/network.c
  nodes/ukamaOS/distro/system/metricsd/src/server.c
  nodes/ukamaOS/distro/system/metricsd/src/web_service.c
  systems/billing/collector/go.mod
  systems/billing/collector/go.sum
  systems/common/go.mod
  systems/common/go.sum
  systems/messaging/api-gateway/pkg/rest/router.go
  systems/messaging/api-gateway/pkg/rest/router_test.go
  systems/messaging/mesh/src/jserdes.c
  systems/messaging/node-feeder/go.mod
  systems/messaging/node-feeder/go.sum
  systems/metrics/docker-compose.yml
  systems/metrics/prometheus/prometheus.yml
  systems/node/docker-compose.yml
  systems/node/node-gateway/go.mod
Labels: ukamaOS

#769 Implement GPS.d app
  .github/workflows/nodes-apps-gps.yaml
  nodes/apps/gps/Makefile
  nodes/apps/gps/inc/config.h
  nodes/apps/gps/inc/gpsd.h
  nodes/apps/gps/inc/http_status.h
  nodes/apps/gps/inc/jserdes.h
  nodes/apps/gps/inc/json_types.h
  nodes/apps/gps/inc/web_client.h
  nodes/apps/gps/inc/web_service.h
  nodes/apps/gps/scripts/process_gps_data.sh
  nodes/apps/gps/src/gps.c
  nodes/apps/gps/src/jserdes.c
  nodes/apps/gps/src/main.c
  nodes/apps/gps/src/network.c
  nodes/apps/gps/src/web_client.c
  nodes/apps/gps/src/web_service.c
  nodes/apps/gps/test/test_config.c
  nodes/apps/gps/test/test_gpsd.c
  nodes/apps/gps/test/test_jserdes.c
  nodes/apps/gps/test/test_runner.c
  nodes/apps/gps/test/test_web_client.c
  nodes/apps/gps/test/test_web_service.c
  nodes/ukamaOS/distro/platform/sys/inc/usys_services.h
Labels: Node
