Repository ukama/ukama, pull requests merged in 2024-11, with the labels that each got.

#793 Minor updates to Org and User service
  systems/nucleus/api-gateway/go.mod
  systems/nucleus/api-gateway/go.sum
  systems/nucleus/api-gateway/mocks/organization.go
  systems/nucleus/api-gateway/pkg/client/org.go
  systems/nucleus/api-gateway/pkg/rest/api.go
  systems/nucleus/api-gateway/pkg/rest/router.go
  systems/nucleus/org/go.mod
  systems/nucleus/org/go.sum
  systems/nucleus/org/mocks/OrchestratorProvider.go
  systems/nucleus/org/mocks/OrgRepo.go
  systems/nucleus/org/mocks/RegistryProvider.go
  systems/nucleus/org/mocks/UserClientProvider.go
  systems/nucleus/org/mocks/UserRepo.go
  systems/nucleus/org/pb/gen/mocks/OrgServiceClient.go
  systems/nucleus/org/pb/gen/mocks/OrgServiceServer.go
  systems/nucleus/org/pb/gen/mocks/UnsafeOrgServiceServer.go
  systems/nucleus/org/pb/gen/org.pb.go
  systems/nucleus/org/pb/gen/org_grpc.pb.go
  systems/nucleus/org/pb/org.proto
  systems/nucleus/org/pkg/db/model.go
  systems/nucleus/org/pkg/db/org_repo_test.go
  systems/nucleus/org/pkg/server/org.go
  systems/nucleus/user/go.mod
  systems/nucleus/user/go.sum
  systems/nucleus/user/pb/gen/mocks/UnsafeUserServiceServer.go
  systems/nucleus/user/pb/gen/mocks/UserServiceClient.go
  systems/nucleus/user/pb/gen/mocks/UserServiceServer.go
  systems/nucleus/user/pb/gen/user.pb.go
  systems/nucleus/user/pb/gen/user.validator.pb.go
  systems/nucleus/user/pb/gen/user_grpc.pb.go
  systems/nucleus/user/pkg/db/model.go
  systems/nucleus/user/pkg/server/user.go
Labels: enhancement, nucleus system

#801 Collector update sim events. Fixes #800
  systems/billing/collector/pkg/clients/lago.go
  systems/billing/collector/pkg/config.go
  systems/billing/collector/pkg/server/event.go
Labels: enhancement, software systems, billing system

#790 Scripts and Docoker compose updates
  builder/deploy_orgs_config.json
  builder/scripts/deploy.sh
  builder/scripts/deploy_orgs.sh
  builder/scripts/make-sys-for-mac.sh
  interfaces/console/docker-compose.yml
  systems/billing/docker-compose.yml
  systems/data-plan/docker-compose.yml
  systems/hub/docker-compose.yaml
  systems/init/docker-compose.yml
  systems/inventory/docker-compose.yml
  systems/messaging/docker-compose.yml
  systems/metrics/docker-compose.yml
  systems/node/docker-compose.yml
  systems/notification/api-gateway/pkg/rest/router_test.go
  systems/notification/docker-compose.yml
  systems/nucleus/docker-compose.yml
  systems/registry/docker-compose.yml
  systems/services/msgClient/go.mod
  systems/services/msgClient/go.sum
  systems/services/msgClient/internal/config.go
Labels: enhancement, Test Infra

#815 Minor fixes after testing
  .gitignore
  interfaces/console/docker-compose.yml
  interfaces/console/src/app/configure/node/[id]/page.tsx
  interfaces/console/src/app/configure/node/[id]/site/[name]/install/page.tsx
  interfaces/console/src/app/configure/node/[id]/site/[name]/page.tsx
  interfaces/console/src/app/configure/node/[id]/site/name/page.tsx
  interfaces/console/src/app/console/subscribers/page.tsx
  interfaces/console/src/app/manage/nodes/page.tsx
  interfaces/console/src/client/graphql/generated/index.ts
  interfaces/console/src/client/graphql/index.graphql
  interfaces/console/src/components/Layout/Header/index.tsx
  interfaces/console/src/components/SubscriberDetails/index.tsx
  interfaces/console/src/constants/index.tsx
  interfaces/console/src/styles/console.css
  systems/common/pb/gen/events/simmanager.validator.pb.go
  systems/common/pb/gen/events/subscriber.pb.go
  systems/console-bff/sim/datasource/mapper.ts
  systems/console-bff/sim/resolver/types.ts
  systems/console-bff/subscriber/datasource/mapper.ts
  systems/console-bff/subscriber/datasource/subscriber_api.ts
  systems/console-bff/subscriber/resolver/getSimsByNetwork.ts
  systems/console-bff/subscriber/resolver/getSubscribersByNetwork.ts
  systems/console-bff/subscriber/resolver/index.ts
  systems/console-bff/subscriber/resolver/types.ts
  systems/init/api-gateway/go.mod
  systems/init/api-gateway/go.sum
  systems/init/lookup/go.mod
  systems/init/lookup/go.sum
  systems/init/node-gateway/go.mod
  systems/init/node-gateway/go.sum
  systems/registry/invitation/go.mod
  systems/registry/invitation/go.sum
  systems/registry/member/go.mod
  systems/registry/member/go.sum
  systems/registry/site/go.mod
  systems/registry/site/go.sum
  systems/subscriber/api-gateway/go.mod
  systems/subscriber/api-gateway/go.sum
  systems/subscriber/registry/go.mod
  systems/subscriber/registry/go.sum
  systems/subscriber/sim-manager/go.mod
  systems/subscriber/sim-manager/go.sum
  systems/subscriber/sim-manager/pkg/server/event.go
  systems/subscriber/sim-manager/pkg/server/sim_manager.go
Labels: bug, software systems, frontend

#816 Refactor Builder Script: Remove Email Config from Deploy JSON for Mailer Service Env Setup
  builder/deploy_config.json
  builder/deploy_orgs_config.json
  builder/scripts/deploy-system.sh
  builder/scripts/deploy.sh
  builder/scripts/deploy_orgs.sh
  builder/ukama.json
  systems/notification/docker-compose.yml
  systems/notification/mailer/Dockerfile
  systems/notification/mailer/pkg/config.go
  systems/notification/mailer/pkg/server/mailer.go
  systems/notification/mailer/pkg/server/mailer_test.go
Labels: enhancement, notification-system
