Repository ukama/ukama, pull requests merged in 2024-02, with the labels that each got.

#649 Systems: Update systems to support Operaor's GetUsages. Fixes #648
  systems/api/api-gateway/pkg/client/network.go
  systems/api/api-gateway/pkg/client/network_test.go
  systems/api/api-gateway/pkg/client/package.go
  systems/api/api-gateway/pkg/client/package_test.go
  systems/api/api-gateway/pkg/client/sim.go
  systems/api/api-gateway/pkg/client/sim_test.go
  systems/common/mocks/OperatorClient.go
  systems/common/pb/gen/events/events.validator.pb.go
  systems/common/rest/client/dataplan/package.go
  systems/common/rest/client/operator/operator.go
  systems/common/rest/client/operator/operator_test.go
  systems/common/types/sync.go
  systems/common/types/sync_test.go
  systems/common/ukama/cdr_type.go
  systems/common/ukama/cdr_type_test.go
  systems/common/ukama/dataunit_type.go
  systems/common/ukama/message_type.go
  systems/common/ukama/package_type.go
  systems/common/ukama/sim_type.go
  systems/common/ukama/sim_type_test.go
  systems/common/ukama/status_type.go
  systems/common/ukama/status_type_test.go
  systems/data-plan/package/pkg/db/model.go
  systems/data-plan/package/pkg/server/package.go
  systems/registry/network/pb/gen/network.validator.pb.go
  systems/registry/network/pkg/db/model.go
  systems/registry/network/pkg/server/network.go
  systems/registry/network/pkg/server/network_test.go
  systems/subscriber/api-gateway/go.sum
  systems/subscriber/api-gateway/mocks/simManager.go
  systems/subscriber/api-gateway/pkg/client/simManager.go
  systems/subscriber/api-gateway/pkg/rest/api.go
  systems/subscriber/api-gateway/pkg/rest/router.go
  systems/subscriber/docker-compose.yml
  systems/subscriber/registry/pb/gen/subscriber.validator.pb.go
  systems/subscriber/registry/pkg/server/subscriber_test.go
  systems/subscriber/sim-manager/go.mod
  systems/subscriber/sim-manager/mocks/AgentAdapter.go
  systems/subscriber/sim-manager/mocks/AgentFactory.go
  systems/subscriber/sim-manager/pb/gen/mocks/SimManagerServiceClient.go
  systems/subscriber/sim-manager/pb/gen/mocks/SimManagerServiceServer.go
  systems/subscriber/sim-manager/pb/gen/sim_manager.pb.go
  systems/subscriber/sim-manager/pb/gen/sim_manager.validator.pb.go
  systems/subscriber/sim-manager/pb/gen/sim_manager_grpc.pb.go
  systems/subscriber/sim-manager/pb/sim_manager.proto
  systems/subscriber/sim-manager/pkg/clients/adapters/agent.go
  systems/subscriber/sim-manager/pkg/clients/adapters/operator_agent.go
  systems/subscriber/sim-manager/pkg/clients/adapters/test_agent.go
  systems/subscriber/sim-manager/pkg/db/model.go
  systems/subscriber/sim-manager/pkg/db/sim_repo.go
  systems/subscriber/sim-manager/pkg/server/event.go
  systems/subscriber/sim-manager/pkg/server/sim_manager.go
  systems/subscriber/sim-manager/pkg/server/sim_manager_test.go
Labels: software systems

#658 Subscriber system: Update services to support filtering CDRs/Usages by region. Fixes #657
  systems/common/mocks/OperatorClient.go
  systems/common/pb/gen/events/invoice.validator.pb.go
  systems/common/pb/gen/events/sim_manager.validator.pb.go
  systems/common/rest/client/operator/operator.go
  systems/common/rest/client/operator/operator_test.go
  systems/subscriber/api-gateway/mocks/simManager.go
  systems/subscriber/api-gateway/pkg/client/simManager.go
  systems/subscriber/api-gateway/pkg/rest/api.go
  systems/subscriber/api-gateway/pkg/rest/router.go
  systems/subscriber/sim-manager/mocks/AgentAdapter.go
  systems/subscriber/sim-manager/pb/gen/sim_manager.pb.go
  systems/subscriber/sim-manager/pb/sim_manager.proto
  systems/subscriber/sim-manager/pkg/clients/adapters/agent.go
  systems/subscriber/sim-manager/pkg/clients/adapters/operator_agent.go
  systems/subscriber/sim-manager/pkg/clients/adapters/test_agent.go
  systems/subscriber/sim-manager/pkg/server/sim_manager.go
Labels: enhancement, software systems

#660 Services naming fix
  .github/actions/sonar-go/action.yaml
  builder/deploy_config.json
  systems/data-plan/api-gateway/go.sum
  systems/data-plan/docker-compose.yml
  systems/data-plan/rate/pkg/config.go
  systems/notification/api-gateway/go.sum
  systems/notification/node-gateway/go.sum
  systems/subscriber/api-gateway/pkg/config.go
  systems/subscriber/docker-compose.yml
  systems/subscriber/sim-manager/pkg/config.go
  systems/subscriber/sim-pool/pkg/global.go
Labels: subscriber-system, data-plan system
