Repository ukama/ukama, pull requests merged in 2024-06, with the labels that each got.

#705 Subscriber events
  systems/common/pb/events/simmanager.proto
  systems/common/pb/events/simpool.proto
  systems/common/pb/events/subscriberregistry.proto
  systems/common/pb/gen/events/sim_manager.pb.go
  systems/common/pb/gen/events/simmanager.pb.go
  systems/common/pb/gen/events/simmanager.validator.pb.go
  systems/common/pb/gen/events/simpool.pb.go
  systems/common/pb/gen/events/simpool.validator.pb.go
  systems/common/pb/gen/events/subscriberregistry.pb.go
  systems/common/pb/gen/events/subscriberregistry.validator.pb.go
  systems/common/pb/gen/ukama/subscriber.pb.go
  systems/common/pb/ukama/subscriber.proto
  systems/data-plan/base-rate/pkg/server/baserate_test.go
  systems/notification/api-gateway/pkg/client/distributor_test.go
  systems/registry/invitation/go.mod
  systems/registry/invitation/go.sum
  systems/registry/invitation/pkg/db/invitation_repo_test.go
  systems/services/initClient/initClient
  systems/subscriber/registry/mocks/SimManagerClientProvider.go
  systems/subscriber/registry/mocks/SubscriberRepo.go
  systems/subscriber/registry/pb/gen/mocks/RegistryServiceClient.go
  systems/subscriber/registry/pb/gen/mocks/RegistryServiceServer.go
  systems/subscriber/registry/pb/gen/mocks/UnsafeRegistryServiceServer.go
  systems/subscriber/registry/pb/gen/subscriber.pb.go
  systems/subscriber/registry/pb/gen/subscriber.validator.pb.go
  systems/subscriber/registry/pb/gen/subscriber_grpc.pb.go
  systems/subscriber/registry/pb/subscriber.proto
  systems/subscriber/registry/pkg/server/subscriber.go
  systems/subscriber/registry/pkg/server/subscriber_test.go
  systems/subscriber/sim-manager/mocks/AgentAdapter.go
  systems/subscriber/sim-manager/mocks/AgentFactory.go
  systems/subscriber/sim-manager/mocks/PackageRepo.go
  systems/subscriber/sim-manager/mocks/SimPoolClientProvider.go
  systems/subscriber/sim-manager/mocks/SimRepo.go
  systems/subscriber/sim-manager/mocks/SubscriberRegistryClientProvider.go
  systems/subscriber/sim-manager/pb/gen/mocks/SimManagerServiceClient.go
  systems/subscriber/sim-manager/pb/gen/mocks/SimManagerServiceServer.go
  systems/subscriber/sim-manager/pb/gen/mocks/UnsafeSimManagerServiceServer.go
  systems/subscriber/sim-manager/pb/gen/sim_manager.pb.go
  systems/subscriber/sim-manager/pb/gen/sim_manager_grpc.pb.go
  systems/subscriber/sim-manager/pkg/server/sim_manager.go
  systems/subscriber/sim-manager/pkg/server/sim_manager_test.go
  systems/subscriber/sim-pool/pkg/server/sim.go
  systems/subscriber/sim-pool/pkg/server/sim_test.go
Labels: subscriber-system

#710 Console Alerts (Notifications) UI
  interfaces/console/client/graphql/metrics.graphql
  interfaces/console/client/graphql/new.graphql
  interfaces/console/generated/index.ts
  interfaces/console/generated/metrics.ts
  interfaces/console/pages/_main_app.tsx
  interfaces/console/ui/layout/Header/Alert/index.tsx
  interfaces/console/ui/layout/Header/index.tsx
  interfaces/console/ui/layout/index.tsx
  interfaces/console/ui/molecules/AlertBox/index.tsx
  interfaces/console/ui/molecules/DeletNotification/index.tsx
  interfaces/console/utils/formatTime.ts
  interfaces/console/utils/roletoNotificationScope.ts
  systems/console-bff/subscriptions/datasource/subscriptions-api.ts
  systems/console-bff/subscriptions/resolvers/resolver.ts
Labels: frontend

#711 Wimcd and agent re-arch and update
  nodes/ukamaOS/distro/platform/sys/inc/usys_services.h
  nodes/ukamaOS/distro/scripts/files/services
  nodes/ukamaOS/distro/system/wimcd/TODO
  nodes/ukamaOS/distro/system/wimcd/agents/FLOW
  nodes/ukamaOS/distro/system/wimcd/agents/agent_main.c
  nodes/ukamaOS/distro/system/wimcd/agents/callback.c
  nodes/ukamaOS/distro/system/wimcd/agents/jserdes.c
  nodes/ukamaOS/distro/system/wimcd/agents/log.c
  nodes/ukamaOS/distro/system/wimcd/agents/network.c
  nodes/ukamaOS/distro/system/wimcd/agents/wimc.c
  nodes/ukamaOS/distro/system/wimcd/inc/agent.h
  nodes/ukamaOS/distro/system/wimcd/inc/agent/callback.h
  nodes/ukamaOS/distro/system/wimcd/inc/callback.h
  nodes/ukamaOS/distro/system/wimcd/inc/wimc.h
  nodes/ukamaOS/distro/system/wimcd/provider/Makefile
  nodes/ukamaOS/distro/system/wimcd/provider/db_init.sh
  nodes/ukamaOS/distro/system/wimcd/provider/mock_provider.c
  nodes/ukamaOS/distro/system/wimcd/src/agent.c
  nodes/ukamaOS/distro/system/wimcd/src/callback.c
  nodes/ukamaOS/distro/system/wimcd/src/db.c
  nodes/ukamaOS/distro/system/wimcd/src/hub.c
  nodes/ukamaOS/distro/system/wimcd/src/init.c
  nodes/ukamaOS/distro/system/wimcd/src/jserdes.c
  nodes/ukamaOS/distro/system/wimcd/src/main.c
  nodes/ukamaOS/distro/system/wimcd/src/methods.c
  nodes/ukamaOS/distro/system/wimcd/src/network.c
Labels: ukamaOS

#713 Rest update
  nodes/ukamaOS/distro/system/configd/inc/web_service.h
  nodes/ukamaOS/distro/system/configd/src/network.c
  nodes/ukamaOS/distro/system/configd/src/web_service.c
  nodes/ukamaOS/distro/system/deviced/inc/web_service.h
  nodes/ukamaOS/distro/system/deviced/src/network.c
  nodes/ukamaOS/distro/system/deviced/src/web_service.c
  nodes/ukamaOS/distro/system/lookoutd/inc/web_service.h
  nodes/ukamaOS/distro/system/lookoutd/src/network.c
  nodes/ukamaOS/distro/system/lookoutd/src/web_service.c
  nodes/ukamaOS/distro/system/notifyd/inc/web_service.h
  nodes/ukamaOS/distro/system/notifyd/src/network.c
  nodes/ukamaOS/distro/system/notifyd/src/web_service.c
  nodes/ukamaOS/distro/system/rlog/inc/web_service.h
  nodes/ukamaOS/distro/system/rlog/src/network.c
  nodes/ukamaOS/distro/system/rlog/src/web_service.c
  nodes/ukamaOS/distro/system/rlog/test/mock_service.c
  nodes/ukamaOS/distro/system/starterd/inc/web_service.h
  nodes/ukamaOS/distro/system/starterd/src/network.c
  nodes/ukamaOS/distro/system/starterd/src/web_service.c
  nodes/ukamaOS/distro/system/wimcd/agents/callback.c
  nodes/ukamaOS/distro/system/wimcd/agents/network.c
  nodes/ukamaOS/distro/system/wimcd/inc/agent/callback.h
  nodes/ukamaOS/distro/system/wimcd/src/network.c
Labels: ukamaOS

#715 Wimc and its agent re-arch & REST (405)
  nodes/ukamaOS/distro/platform/sys/inc/usys_services.h
  nodes/ukamaOS/distro/scripts/files/services
  nodes/ukamaOS/distro/system/configd/inc/web_service.h
  nodes/ukamaOS/distro/system/configd/src/network.c
  nodes/ukamaOS/distro/system/configd/src/web_service.c
  nodes/ukamaOS/distro/system/deviced/inc/web_service.h
  nodes/ukamaOS/distro/system/deviced/src/network.c
  nodes/ukamaOS/distro/system/deviced/src/web_service.c
  nodes/ukamaOS/distro/system/lookoutd/inc/web_service.h
  nodes/ukamaOS/distro/system/lookoutd/src/network.c
  nodes/ukamaOS/distro/system/lookoutd/src/web_service.c
  nodes/ukamaOS/distro/system/notifyd/inc/web_service.h
  nodes/ukamaOS/distro/system/notifyd/src/network.c
  nodes/ukamaOS/distro/system/notifyd/src/web_service.c
  nodes/ukamaOS/distro/system/rlog/inc/web_service.h
  nodes/ukamaOS/distro/system/rlog/src/network.c
  nodes/ukamaOS/distro/system/rlog/src/web_service.c
  nodes/ukamaOS/distro/system/rlog/test/mock_service.c
  nodes/ukamaOS/distro/system/starterd/inc/web_service.h
  nodes/ukamaOS/distro/system/starterd/src/network.c
  nodes/ukamaOS/distro/system/starterd/src/web_service.c
  nodes/ukamaOS/distro/system/wimcd/TODO
  nodes/ukamaOS/distro/system/wimcd/agents/FLOW
  nodes/ukamaOS/distro/system/wimcd/agents/agent_main.c
  nodes/ukamaOS/distro/system/wimcd/agents/callback.c
  nodes/ukamaOS/distro/system/wimcd/agents/jserdes.c
  nodes/ukamaOS/distro/system/wimcd/agents/log.c
  nodes/ukamaOS/distro/system/wimcd/agents/network.c
  nodes/ukamaOS/distro/system/wimcd/agents/wimc.c
  nodes/ukamaOS/distro/system/wimcd/inc/agent.h
  nodes/ukamaOS/distro/system/wimcd/inc/agent/callback.h
  nodes/ukamaOS/distro/system/wimcd/inc/callback.h
  nodes/ukamaOS/distro/system/wimcd/inc/wimc.h
  nodes/ukamaOS/distro/system/wimcd/provider/Makefile
  nodes/ukamaOS/distro/system/wimcd/provider/db_init.sh
  nodes/ukamaOS/distro/system/wimcd/provider/mock_provider.c
  nodes/ukamaOS/distro/system/wimcd/src/agent.c
  nodes/ukamaOS/distro/system/wimcd/src/callback.c
  nodes/ukamaOS/distro/system/wimcd/src/db.c
  nodes/ukamaOS/distro/system/wimcd/src/hub.c
  nodes/ukamaOS/distro/system/wimcd/src/init.c
  nodes/ukamaOS/distro/system/wimcd/src/jserdes.c
  nodes/ukamaOS/distro/system/wimcd/src/main.c
  nodes/ukamaOS/distro/system/wimcd/src/methods.c
  nodes/ukamaOS/distro/system/wimcd/src/network.c
Labels: ukamaOS
