Repository ukama/ukama, pull requests merged in 2024-08, with the labels that each got.

#737 Fixed issue where invitation context exceeded and email was not sent
  systems/registry/api-gateway/pkg/config.go
  systems/registry/invitation/pkg/server/invitation.go
Labels: bug

#740 Ukamaos workflow fixes #733
  .github/workflows/node-ukamaos.yaml
  .github/workflows/systems-services-initClient.yaml
  builder/src/build.c
  builder/src/main.c
  nodes/ukamaOS/distro/vendor/Makefile
Labels: devops, ukamaOS

#743 Add missing libmicrohttpd in Makefile for bootstrap
  nodes/ukamaOS/distro/system/bootstrap/Makefile
Labels: bug, ukamaOS

#747 Site Page bug fixes
  interfaces/console/src/app/console/sites/[id]/page.tsx
  interfaces/console/src/app/console/sites/page.tsx
  interfaces/console/src/components/ConfigureSiteDialog/index.tsx
  interfaces/console/src/components/SiteCard/index.tsx
  interfaces/console/src/components/SiteDetailsHeader/index.tsx
  interfaces/console/src/components/SiteInfos/index.tsx
  interfaces/console/src/components/SiteMapComponent/index.tsx
  interfaces/console/src/components/SitesWrapper/index.tsx
  interfaces/console/src/utils/index.tsx
Labels: bug, console, frontend

#748 Fixes various issues with notify.d
  nodes/ukamaOS/distro/platform/sys/inc/usys_services.h
  nodes/ukamaOS/distro/platform/sys/src/usys_file.c
  nodes/ukamaOS/distro/scripts/files/services
  nodes/ukamaOS/distro/system/notifyd/inc/config.h
  nodes/ukamaOS/distro/system/notifyd/inc/errorcode.h
  nodes/ukamaOS/distro/system/notifyd/inc/notification.h
  nodes/ukamaOS/distro/system/notifyd/inc/notify_macros.h
  nodes/ukamaOS/distro/system/notifyd/inc/web_client.h
  nodes/ukamaOS/distro/system/notifyd/inc/web_service.h
  nodes/ukamaOS/distro/system/notifyd/src/jserdes.c
  nodes/ukamaOS/distro/system/notifyd/src/main.c
  nodes/ukamaOS/distro/system/notifyd/src/network.c
  nodes/ukamaOS/distro/system/notifyd/src/notification.c
  nodes/ukamaOS/distro/system/notifyd/src/web_service.c
  nodes/ukamaOS/distro/system/notifyd/test/test_client.py
  nodes/ukamaOS/distro/system/notifyd/test/test_server.py
Labels: ukamaOS

#757 Notifyd integration with node system
  nodes/ukamaOS/distro/system/meshd/inc/jserdes.h
  nodes/ukamaOS/distro/system/meshd/inc/map.h
  nodes/ukamaOS/distro/system/meshd/src/callback.c
  nodes/ukamaOS/distro/system/meshd/src/data.c
  nodes/ukamaOS/distro/system/meshd/src/jserdes.c
  nodes/ukamaOS/distro/system/meshd/src/main.c
  nodes/ukamaOS/distro/system/meshd/src/map.c
  nodes/ukamaOS/distro/system/notifyd/inc/jserdes.h
  nodes/ukamaOS/distro/system/notifyd/inc/json_types.h
  nodes/ukamaOS/distro/system/notifyd/inc/notify_macros.h
  nodes/ukamaOS/distro/system/notifyd/inc/web_client.h
  nodes/ukamaOS/distro/system/notifyd/src/jserdes.c
  nodes/ukamaOS/distro/system/notifyd/src/notification.c
  nodes/ukamaOS/distro/system/notifyd/src/web_client.c
  nodes/ukamaOS/distro/system/notifyd/src/web_service.c
  nodes/ukamaOS/distro/system/notifyd/test/test_client.py
  systems/common/pb/events/notification.proto
  systems/common/pb/gen/events/member.validator.pb.go
  systems/common/pb/gen/events/notification.pb.go
  systems/common/pb/gen/events/notification.validator.pb.go
  systems/common/pb/gen/events/simmanager.validator.pb.go
  systems/messaging/docker-compose.yml
  systems/messaging/mesh/inc/initClient.h
  systems/messaging/mesh/inc/mesh.h
  systems/messaging/mesh/src/config.c
  systems/messaging/mesh/src/data.c
  systems/messaging/mesh/src/initClient.c
  systems/messaging/mesh/src/jserdes.c
  systems/messaging/mesh/src/main.c
  systems/messaging/mesh/src/websocket.c
  systems/node/node-gateway/go.mod
  systems/node/node-gateway/go.sum
  systems/node/node-gateway/mocks/Notify.go
  systems/node/node-gateway/mocks/health.go
  systems/node/node-gateway/pkg/client/notify.go
  systems/node/node-gateway/pkg/client/notify_test.go
  systems/node/node-gateway/pkg/config.go
  systems/node/node-gateway/pkg/rest/api.go
  systems/node/node-gateway/pkg/rest/router.go
  systems/node/node-gateway/pkg/rest/router_test.go
  systems/node/notify/Makefile
  systems/node/notify/go.mod
  systems/node/notify/go.sum
  systems/node/notify/internal/db/model.go
  systems/node/notify/internal/db/notification_repo_test.go
  systems/node/notify/internal/server/event.go
  systems/node/notify/internal/server/event_test.go
  systems/node/notify/internal/server/notify.go
  systems/node/notify/internal/server/notify_test.go
  systems/node/notify/pb/gen/notify.pb.go
  systems/node/notify/pb/gen/notify.validator.pb.go
  systems/node/notify/pb/gen/notify_grpc.pb.go
  systems/node/notify/pb/notify.proto
  systems/node/notify/test/integration/integration_test.go
Labels: bug, ukamaOS, node-system

#759 Notifyd hotfix
  .github/workflows/systems-messaging-mesh.yaml
  nodes/ukamaOS/distro/system/notifyd/src/network.c
  nodes/ukamaOS/distro/system/notifyd/src/web_service.c
  systems/messaging/docker-compose.yml
  systems/messaging/mesh/src/data.c
Labels: bug, ukamaOS

#760 Lookoutd hotfix
  nodes/ukamaOS/distro/system/lookoutd/inc/web_client.h
  nodes/ukamaOS/distro/system/lookoutd/src/jserdes.c
  nodes/ukamaOS/distro/system/lookoutd/src/main.c
  nodes/ukamaOS/distro/system/lookoutd/src/resources.c
  nodes/ukamaOS/distro/system/lookoutd/src/web_client.c
Labels: bug, ukamaOS
