Repository ukama/ukama, pull requests merged in 2024-04, with the labels that each got.

#673 Refactor: Validate Component ID in Site Inventory Integration
  systems/registry/site/cmd/server/main.go
  systems/registry/site/pkg/config.go
  systems/registry/site/pkg/provider/inventory_client.go
  systems/registry/site/pkg/server/site.go
  systems/registry/site/pkg/server/site_test.go
Labels: enhancement, registry-system

#675 Billing updates: Implement Org Owner billing. Fixes #674
  systems/billing/api-gateway/cmd/main.go
  systems/billing/api-gateway/mocks/Invoice.go
  systems/billing/api-gateway/mocks/Pdf.go
  systems/billing/api-gateway/mocks/billing.go
  systems/billing/api-gateway/pkg/client/billing.go
  systems/billing/api-gateway/pkg/client/invoice.go
  systems/billing/api-gateway/pkg/client/invoice_test.go
  systems/billing/api-gateway/pkg/client/pdf.go
  systems/billing/api-gateway/pkg/client/pdf_test.go
  systems/billing/api-gateway/pkg/config.go
  systems/billing/api-gateway/pkg/rest/api.go
  systems/billing/api-gateway/pkg/rest/router.go
  systems/billing/api-gateway/pkg/rest/router_test.go
  systems/billing/collector/cmd/server/main.go
  systems/billing/collector/mocks/BillingClient.go
  systems/billing/collector/pkg/clients/client.go
  systems/billing/collector/pkg/clients/lago.go
  systems/billing/collector/pkg/config.go
  systems/billing/collector/pkg/server/event.go
  systems/billing/collector/pkg/server/event_test.go
  systems/billing/docker-compose.yml
  systems/billing/invoice/cmd/server/main.go
  systems/billing/invoice/mocks/InvoiceRepo.go
  systems/billing/invoice/pb/gen/invoice.pb.go
  systems/billing/invoice/pb/gen/invoice.validator.pb.go
  systems/billing/invoice/pb/gen/invoice_grpc.pb.go
  systems/billing/invoice/pb/gen/mocks/InvoiceServiceClient.go
  systems/billing/invoice/pb/gen/mocks/InvoiceServiceServer.go
  systems/billing/invoice/pb/gen/mocks/UnsafeInvoiceServiceServer.go
  systems/billing/invoice/pb/invoice.proto
  systems/billing/invoice/pkg/config.go
  systems/billing/invoice/pkg/db/invoice_repo.go
  systems/billing/invoice/pkg/db/invoice_repo_test.go
  systems/billing/invoice/pkg/db/model.go
  systems/billing/invoice/pkg/db/model_test.go
  systems/billing/invoice/pkg/server/invoice.go
  systems/billing/invoice/pkg/server/invoice_test.go
  systems/billing/invoice/test/integration/integration_test.go
Labels: software systems

#668 Adding Log Endpoint to Node Gateway
  systems/node/node-gateway/pkg/rest/api.go
  systems/node/node-gateway/pkg/rest/router.go
Labels: enhancement, node-system

#678 Go 1.22 hot fix
  .gitignore
  systems/api/api-gateway/go.mod
  systems/api/api-gateway/go.sum
  systems/auth/api-gateway/go.mod
  systems/billing/api-gateway/go.mod
  systems/billing/collector/go.mod
  systems/billing/invoice/go.mod
  systems/common/go.mod
  systems/data-plan/api-gateway/go.mod
  systems/data-plan/api-gateway/go.sum
  systems/data-plan/base-rate/go.mod
  systems/data-plan/package/go.mod
  systems/data-plan/rate/go.mod
  systems/hub/distributor/go.mod
  systems/hub/distributor/go.sum
  systems/hub/hub/go.mod
  systems/hub/hub/go.sum
  systems/init/api-gateway/go.mod
  systems/init/lookup/go.mod
  systems/init/node-gateway/go.mod
  systems/inventory/accounting/go.mod
  systems/inventory/api-gateway/go.mod
  systems/inventory/component/go.mod
  systems/messaging/api-gateway/go.mod
  systems/messaging/nns/go.mod
  systems/messaging/node-feeder/go.mod
  systems/messaging/node-feeder/go.sum
  systems/metrics/api-gateway/go.mod
  systems/metrics/exporter/go.mod
  systems/node/api-gateway/go.mod
  systems/node/configurator/go.mod
  systems/node/controller/go.mod
  systems/node/health/go.mod
  systems/node/node-gateway/go.mod
  systems/node/software/go.mod
  systems/notification/api-gateway/go.mod
  systems/notification/mailer/go.mod
  systems/notification/node-gateway/go.mod
  systems/notification/notify/go.mod
  systems/nucleus/api-gateway/go.mod
  systems/nucleus/org/go.mod
  systems/nucleus/user/go.mod
  systems/registry/api-gateway/go.mod
  systems/registry/invitation/go.mod
  systems/registry/member/go.mod
  systems/registry/network/go.mod
  systems/registry/node/go.mod
  systems/registry/site/go.mod
  systems/services/eventGenerator/go.mod
  systems/services/msgClient/go.mod
  systems/subscriber/api-gateway/go.mod
  systems/subscriber/registry/go.mod
  systems/subscriber/sim-manager/go.mod
  systems/subscriber/sim-pool/go.mod
  systems/subscriber/test-agent/go.mod
Labels: bug, software systems

#680 Builder fixes
  builder/src/main.c
  systems/init/docker-compose.yml
  systems/notification/docker-compose.yml
  systems/registry/docker-compose.yml
Labels: ukamaOS

#682 Rlog bug fix
  nodes/ukamaOS/distro/system/rlog/src/logger.c
Labels: ukamaOS
