Repository ukama/ukama, pull requests merged in 2024-07, with the labels that each got.

#721 Add Home Onboarding UI withNav Menu Tooltips
  interfaces/console/src/app/console/nodes/[id]/page.tsx
  interfaces/console/src/app/console/nodes/page.tsx
  interfaces/console/src/app/manage/page.tsx
  interfaces/console/src/components/Layout/Sidebar/index.tsx
  interfaces/console/src/components/Map/CustomMarker.tsx
  interfaces/console/src/components/NetworkMap/MapLayer.tsx
  interfaces/console/src/components/OnboardingCard/index.tsx
  interfaces/console/src/theme/colors.tsx
Labels: console

#723 UkamaOS build in containers
  builder/docker/Dockerfile
  builder/docker/build.sh
  builder/docker/setup.sh
  builder/inc/builder.h
  builder/scripts/mkimage.sh
  builder/src/build.c
  builder/src/main.c
  builder/ukama.json
  nodes/ukamaOS/distro/vendor/Makefile
Labels: ukamaOS

#722 BFF deployment fixes
  .gitignore
  builder/deploy_config.json
  builder/metadata.json
  builder/scripts/deploy.sh
  builder/scripts/make-sys-for-mac.sh
  interfaces/console/.env.example
  interfaces/console/docker-compose.yml
  interfaces/console/next.config.mjs
  interfaces/console/src/app/console/layout.tsx
  interfaces/console/src/client/graphql/generated/index.ts
  interfaces/console/src/client/graphql/index.graphql
  interfaces/console/src/components/BasicDropdown/index.tsx
  interfaces/console/src/components/DraftDropdown/index.tsx
  interfaces/console/src/components/Map/CustomMarker.tsx
  interfaces/console/src/components/Map/DynamicMap.tsx
  interfaces/console/src/components/Map/Map.tsx
  interfaces/console/src/components/MapOverlayUI/index.tsx
  interfaces/console/src/components/SitePopup/index.tsx
  interfaces/console/src/middleware.ts
  systems/console-bff/.env.example
  systems/console-bff/Dockerfile
  systems/console-bff/billing/datasource/billing_api.ts
  systems/console-bff/billing/index.ts
  systems/console-bff/common/configs/index.ts
  systems/console-bff/common/utils/index.ts
  systems/console-bff/docker-compose.yml
  systems/console-bff/init/index.ts
  systems/console-bff/invitation/index.ts
  systems/console-bff/kill_ports.sh
  systems/console-bff/member/index.ts
  systems/console-bff/member/resolver/getMembers.ts
  systems/console-bff/network/datasource/network_api.ts
  systems/console-bff/network/index.ts
  systems/console-bff/network/resolvers/getNetworks.ts
  systems/console-bff/network/resolvers/types.ts
  systems/console-bff/node/index.ts
  systems/console-bff/notification/index.ts
  systems/console-bff/org/index.ts
  systems/console-bff/package.json
  systems/console-bff/package/index.ts
  systems/console-bff/rate/index.ts
  systems/console-bff/sim/index.ts
  systems/console-bff/site/datasource/site_api.ts
  systems/console-bff/site/index.ts
  systems/console-bff/subscriber/index.ts
  systems/console-bff/supervisord.conf
  systems/console-bff/user/index.ts
  systems/data-plan/docker-compose.yml
  systems/registry/docker-compose.yml
  systems/subscriber/auth/identity.schema.json
  systems/subscriber/auth/kratos.yml
  systems/subscriber/docker-compose.yml
Labels: bug, devops, frontend

#728 Console-bff Integration Tests
  systems/console-bff/.gitignore
  systems/console-bff/common/utils/index.ts
  systems/console-bff/gateway/tests/SimPool.csv
  systems/console-bff/gateway/tests/graphql.ts
  systems/console-bff/gateway/tests/init.test.ts
  systems/console-bff/gateway/tests/invitation.test.ts
  systems/console-bff/gateway/tests/member.test.ts
  systems/console-bff/gateway/tests/network.test.ts
  systems/console-bff/gateway/tests/node.test.ts
  systems/console-bff/gateway/tests/org.test.ts
  systems/console-bff/gateway/tests/package.test.ts
  systems/console-bff/gateway/tests/sim.test.ts
  systems/console-bff/gateway/tests/subscriber.test.ts
  systems/console-bff/gateway/tests/user.test.ts
  systems/console-bff/jest.config.ts
  systems/console-bff/member/resolver/getMembers.ts
  systems/console-bff/package.json
  systems/console-bff/subscriber/datasource/mapper.ts
  systems/console-bff/subscriber/resolver/types.ts
Labels: Test Infra, frontend

#730 Inventory system workflow fixes, console minor ui fixes
  .github/workflows/systems-services-initClient.yaml
  .gitignore
  builder/scripts/make-sys-for-mac.sh
  interfaces/console/src/components/BasicDropdown/index.tsx
  interfaces/console/src/middleware.ts
  nodes/ukamaOS/distro/vendor/Makefile
  systems/bff/.ENV
  systems/billing/provider/.env
  systems/inventory/api-gateway/pkg/client/accounting.go
  systems/inventory/api-gateway/pkg/client/component.go
  systems/inventory/component/pkg/db/component_repo_test.go
  systems/inventory/component/pkg/server/component_test.go
  systems/registry/invitation/pkg/server/invitation.go
Labels: bug, frontend, inventory system
