Repository ukama/ukama, pull requests merged in 2024-10, with the labels that each got.

#776 Systems/Common: Updates for billing (splited). Fixes #775
  systems/common/pb/events/operator.proto
  systems/common/pb/events/simmanager.proto
  systems/common/pb/events/subscriber.proto
  systems/common/pb/gen/events/operator.pb.go
  systems/common/pb/gen/events/operator.validator.pb.go
  systems/common/pb/gen/events/simmanager.pb.go
  systems/common/pb/gen/events/simmanager.validator.pb.go
  systems/common/pb/gen/events/subscriber.pb.go
Labels: software systems, common

#778 Systems/Subscriber: Updates for billing (splited). Fixes #777
  systems/subscriber/sim-manager/mocks/AgentAdapter.go
  systems/subscriber/sim-manager/mocks/AgentFactory.go
  systems/subscriber/sim-manager/mocks/PackageRepo.go
  systems/subscriber/sim-manager/mocks/SimPoolClientProvider.go
  systems/subscriber/sim-manager/mocks/SimRepo.go
  systems/subscriber/sim-manager/mocks/SubscriberRegistryClientProvider.go
  systems/subscriber/sim-manager/pb/gen/mocks/SimManagerServiceClient.go
  systems/subscriber/sim-manager/pb/gen/mocks/SimManagerServiceServer.go
  systems/subscriber/sim-manager/pb/gen/mocks/UnsafeSimManagerServiceServer.go
  systems/subscriber/sim-manager/pb/gen/sim_manager.pb.go
  systems/subscriber/sim-manager/pb/gen/sim_manager_grpc.pb.go
  systems/subscriber/sim-manager/pb/sim_manager.proto
  systems/subscriber/sim-manager/pkg/config.go
  systems/subscriber/sim-manager/pkg/db/model.go
  systems/subscriber/sim-manager/pkg/db/package_repo_test.go
  systems/subscriber/sim-manager/pkg/db/sim_repo.go
  systems/subscriber/sim-manager/pkg/db/sim_repo_test.go
  systems/subscriber/sim-manager/pkg/server/event.go
  systems/subscriber/sim-manager/pkg/server/sim_manager.go
Labels: software systems, subscriber-system

#773 Node service updates and fixes
  systems/common/go.mod
  systems/common/go.sum
  systems/common/pb/gen/ukama/config.pb.go
  systems/common/pb/gen/ukama/node-feeder.pb.go
  systems/common/pb/ukama/node.proto
  systems/common/ukama/node_connectivity.go
  systems/common/ukama/node_state.go
  systems/registry/api-gateway/go.mod
  systems/registry/api-gateway/go.sum
  systems/registry/api-gateway/mocks/invitation.go
  systems/registry/api-gateway/mocks/member.go
  systems/registry/api-gateway/mocks/network.go
  systems/registry/api-gateway/mocks/node.go
  systems/registry/api-gateway/mocks/site.go
  systems/registry/api-gateway/pkg/client/node.go
  systems/registry/api-gateway/pkg/rest/router.go
  systems/registry/node/Makefile
  systems/registry/node/cmd/server/main.go
  systems/registry/node/go.mod
  systems/registry/node/go.sum
  systems/registry/node/mocks/NodeRepo.go
  systems/registry/node/mocks/NodeStatusRepo.go
  systems/registry/node/mocks/SiteClientProvider.go
  systems/registry/node/mocks/SiteRepo.go
  systems/registry/node/pb/gen/mocks/NodeServiceClient.go
  systems/registry/node/pb/gen/mocks/NodeServiceServer.go
  systems/registry/node/pb/gen/mocks/UnsafeNodeServiceServer.go
  systems/registry/node/pb/gen/node.pb.go
  systems/registry/node/pb/gen/node.validator.pb.go
  systems/registry/node/pb/gen/node_grpc.pb.go
  systems/registry/node/pb/node.proto
  systems/registry/node/pkg/config.go
  systems/registry/node/pkg/db/model.go
  systems/registry/node/pkg/db/node_repo.go
  systems/registry/node/pkg/db/nodestatus_repo.go
  systems/registry/node/pkg/server/event.go
  systems/registry/node/pkg/server/node.go
  systems/registry/node/pkg/server/node_test.go
  systems/registry/node/test/integration/node_test.go
  systems/registry/node/tools.go
Labels: bug, enhancement, registry-system

#785 Build script update to create OS image
  nodes/builder/scripts/mk_master_sdcard_image.sh
  nodes/ukamaOS/distro/scripts/buildOS.sh
Labels: devops, Node, ukamaOS

#787 Node service db initialisation bug fix
  systems/registry/node/cmd/server/main.go
Labels: bug, registry-system

#789 DataPlan package service added missing fields
  systems/data-plan/api-gateway/go.mod
  systems/data-plan/api-gateway/go.sum
  systems/data-plan/api-gateway/pkg/rest/api.go
  systems/data-plan/api-gateway/pkg/rest/router.go
  systems/data-plan/base-rate/go.mod
  systems/data-plan/base-rate/go.sum
  systems/data-plan/package/go.mod
  systems/data-plan/package/go.sum
  systems/data-plan/package/pkg/server/package.go
  systems/data-plan/rate/go.mod
  systems/data-plan/rate/go.sum
Labels: bug, data-plan system
