Repository ukama/ukama, pull requests merged in 2025-05, with the labels that each got.

#956 Site metric fixes
  builder/scripts/deploy.sh
  interfaces/console/.env.local.example
  interfaces/console/public/svg/sitecomps.tsx
  interfaces/console/src/app/console/sites/[id]/page.tsx
  interfaces/console/src/app/console/sites/page.tsx
  interfaces/console/src/client/graphql/generated/index.ts
  interfaces/console/src/client/graphql/generated/subscriptions.ts
  interfaces/console/src/client/graphql/index.graphql
  interfaces/console/src/client/graphql/subscriptions.graphql
  interfaces/console/src/components/LineChart/index.tsx
  interfaces/console/src/components/NodeStatusDisplay/index.tsx
  interfaces/console/src/components/SiteCard/index.tsx
  interfaces/console/src/components/SiteComponents/index.tsx
  interfaces/console/src/components/SiteDetailsHeader/index.tsx
  interfaces/console/src/components/SiteInfos/index.tsx
  interfaces/console/src/components/SiteMapComponent/index.tsx
  interfaces/console/src/components/SiteOverView/index.tsx
  interfaces/console/src/components/SitesWrapper/index.tsx
  interfaces/console/src/components/UnassingedNodecard/index.tsx
  interfaces/console/src/constants/index.tsx
  interfaces/console/src/context/index.tsx
  interfaces/console/src/lib/MetricStatBySiteSubscription.ts
  interfaces/console/src/lib/MetricStatSubscription.ts
  interfaces/console/src/theme/colors.tsx
  interfaces/console/src/types/index.tsx
  interfaces/console/src/utils/index.tsx
  interfaces/console/src/utils/useMetricSubscriptions.ts
  systems/console-bff/common/utils/index.ts
  systems/console-bff/node/dataSource/node-api.ts
  systems/console-bff/node/resolvers/getNodesForSite.ts
  systems/console-bff/node/resolvers/index.ts
  systems/console-bff/subscriptions/datasource/mapper.ts
  systems/console-bff/subscriptions/datasource/subscriptions-api.ts
  systems/console-bff/subscriptions/resolvers/resolver.ts
  systems/console-bff/subscriptions/resolvers/types.ts
  systems/metrics/api-gateway/pkg/config.go
  testing/services/dummy/dcontroller/cmd/main.go
  testing/services/dummy/dcontroller/go.mod
  testing/services/dummy/dcontroller/pb/dcontroller.proto
  testing/services/dummy/dcontroller/pb/gen/dcontroller.pb.go
  testing/services/dummy/dcontroller/pb/gen/dcontroller.validator.pb.go
  testing/services/dummy/dcontroller/pb/gen/dcontroller_grpc.pb.go
  testing/services/dummy/dcontroller/pkg/metrics/metrics.go
  testing/services/dummy/dcontroller/pkg/server/dcontroller.go
  testing/services/dummy/dcontroller/pkg/server/event.go
  testing/services/dummy/dnode/go.sum
  testing/services/dummy/docker-compose.yml
Labels: console

#990 Metric system updates for local data base KPIs
  builder/deploy_config.json
  builder/scripts/deploy.sh
  systems/common/rest/client/ukamaagent/ukama_agent.go
  systems/metrics/api-gateway/pkg/config.go
  systems/metrics/api-gateway/pkg/metric.go
  systems/metrics/api-gateway/pkg/metric_test.go
  systems/metrics/api-gateway/pkg/rest/api.go
  systems/metrics/api-gateway/pkg/rest/router.go
  systems/nucleus/docker-compose.yml
  systems/nucleus/org/cmd/server/main.go
  systems/nucleus/org/pkg/config.go
  systems/subscriber/sim-manager/pkg/server/event.go
  systems/ukama-agent/asr/pkg/server/asr.go
  systems/ukama-agent/docker-compose.yml
Labels: Test Infra, metric system

#994 Hotfix: resolve DController API Gateway build and lint issues
  testing/services/dummy/api-gateway/pkg/client/dcontroller.go
  testing/services/dummy/api-gateway/pkg/rest/api.go
  testing/services/dummy/api-gateway/pkg/rest/router.go
  testing/services/dummy/dcontroller/pb/dcontroller.proto
  testing/services/dummy/dcontroller/pb/gen/dcontroller.pb.go
  testing/services/dummy/dcontroller/pb/gen/dcontroller.validator.pb.go
  testing/services/dummy/dcontroller/pb/gen/dcontroller_grpc.pb.go
  testing/services/dummy/dcontroller/pkg/metrics/metrics.go
  testing/services/dummy/dcontroller/pkg/server/dcontroller.go
  testing/services/dummy/dcontroller/pkg/server/event.go
Labels: bug

#1000 Node controller RF On/Off implemented
  builder/scripts/push_node_event.sh
  systems/node/api-gateway/mocks/configurator.go
  systems/node/api-gateway/mocks/controller.go
  systems/node/api-gateway/mocks/softwareManager.go
  systems/node/api-gateway/mocks/state.go
  systems/node/api-gateway/pkg/client/controller.go
  systems/node/api-gateway/pkg/rest/api.go
  systems/node/api-gateway/pkg/rest/router.go
  systems/node/api-gateway/pkg/rest/router_test.go
  systems/node/controller/mocks/NodeLogRepo.go
  systems/node/controller/pb/controller.proto
  systems/node/controller/pb/gen/controller.pb.go
  systems/node/controller/pb/gen/controller.validator.pb.go
  systems/node/controller/pb/gen/controller_grpc.pb.go
  systems/node/controller/pb/gen/mocks/ControllerServiceClient.go
  systems/node/controller/pb/gen/mocks/ControllerServiceServer.go
  systems/node/controller/pb/gen/mocks/UnsafeControllerServiceServer.go
  systems/node/controller/pkg/server/controller.go
  systems/node/controller/pkg/server/controller_test.go
  testing/scripts/scenario_runner.sh
Labels: node-system

#1005 Refactor get site stats resolver logic
  interfaces/console/src/app/console/sites/[id]/page.tsx
  interfaces/console/src/app/console/sites/page.tsx
  interfaces/console/src/components/SiteCard/index.tsx
  interfaces/console/src/components/SiteComponents/index.tsx
  interfaces/console/src/constants/index.tsx
  interfaces/console/src/lib/MetricStatBySiteSubscription.ts
  interfaces/console/src/utils/index.tsx
  interfaces/console/src/utils/useMetricSubscriptions.ts
  systems/console-bff/common/utils/index.ts
  systems/console-bff/subscriptions/datasource/mapper.ts
  systems/console-bff/subscriptions/datasource/subscriptions-api.ts
  systems/console-bff/subscriptions/resolvers/resolver.ts
  systems/console-bff/subscriptions/resolvers/types.ts
Labels: enhancement
