Repository ukama/ukama, pull requests merged in 2025-01, with the labels that each got.

#832 Lint and test fixes
  systems/data-plan/base-rate/pkg/server/baserate.go
  systems/data-plan/base-rate/pkg/utils/utils.go
  systems/data-plan/package/pkg/server/package.go
  systems/data-plan/rate/pkg/server/rate.go
  systems/inventory/api-gateway/pkg/rest/router_test.go
  systems/messaging/node-feeder/go.mod
  systems/messaging/node-feeder/go.sum
  systems/metrics/exporter/go.mod
  systems/metrics/exporter/go.sum
  systems/metrics/exporter/pkg/server/event_test.go
  systems/metrics/exporter/test/integration/integration_test.go
  systems/node/configurator/pkg/db/commitRepo_test.go
  systems/node/configurator/pkg/db/configRepo_test.go
  systems/node/configurator/pkg/providers/store.go
  systems/node/controller/pkg/db/node_log_test.go
  systems/node/health/pkg/db/health_repo_test.go
  systems/node/notify/internal/server/event_test.go
  systems/node/software/pkg/db/software_repo_test.go
  systems/node/state/pkg/server/state.go
  systems/registry/node/pkg/db/node_repo_test.go
  systems/registry/site/pkg/server/site.go
Labels: software systems

#839 Rpi access node
  builder/Makefile
  builder/docker/Dockerfile
  builder/docker/apps_build.sh
  builder/docker/apps_setup.sh
  builder/scripts/build-access-node.sh
  builder/scripts/build-amplifier-node.sh
  builder/scripts/build-virtual-access-node.sh
  builder/scripts/make-app.sh
  builder/scripts/run-access-node-in-qemu.sh
  nodes/ukamaOS/config.mk
Labels: Node, ukamaOS

#843 Console workflow build issue fixed
  interfaces/console/src/client/graphql/generated/index.ts
  interfaces/console/src/client/graphql/index.graphql
  systems/console-bff/payment/resolver/types.ts
Labels: bug, devops

#813 Implement Report System. Fixes #812
  .github/workflows/gen-go-workflows.sh
  .github/workflows/systems-report-api-gateway-pr-release.yaml
  .github/workflows/systems-report-api-gateway.yaml
  .github/workflows/systems-report-generator-pr-release.yaml
  .github/workflows/systems-report-generator.yaml
  systems/billing/api-gateway/pkg/rest/api.go
  systems/billing/collector/pkg/clients/client.go
  systems/billing/collector/pkg/clients/lago.go
  systems/billing/collector/pkg/server/event.go
  systems/billing/docker-compose.yml
  systems/billing/report/go.mod
  systems/billing/report/go.sum
  systems/billing/report/pb/gen/report.pb.go
  systems/billing/report/pb/report.proto
  systems/billing/report/pkg/db/model.go
  systems/billing/report/pkg/db/report_repo_test.go
  systems/billing/report/pkg/server/event.go
  systems/billing/report/pkg/server/report.go
  systems/billing/report/pkg/util/report.go
  systems/common/pb/events/billing.proto
  systems/common/pb/events/payment.proto
  systems/common/pb/gen/events/billing.pb.go
  systems/common/pb/gen/events/payment.pb.go
  systems/common/pb/gen/events/simmanager.validator.pb.go
  systems/report/Makefile
  systems/report/api-gateway/Dockerfile
  systems/report/api-gateway/Int.Dockerfile
  systems/report/api-gateway/Makefile
  systems/report/api-gateway/cmd/main.go
  systems/report/api-gateway/cmd/version/version.go
  systems/report/api-gateway/go.mod
  systems/report/api-gateway/go.sum
  systems/report/api-gateway/internal/client/pdf.go
  systems/report/api-gateway/internal/client/pdf_test.go
  systems/report/api-gateway/internal/config.go
  systems/report/api-gateway/internal/global.go
  systems/report/api-gateway/internal/rest/api.go
  systems/report/api-gateway/internal/rest/router.go
  systems/report/api-gateway/internal/rest/router_test.go
  systems/report/api-gateway/mocks/Pdf.go
  systems/report/api-gateway/test/integration/api-gateway_test.go
  systems/report/docker-compose.yml
  systems/report/generator/Dockerfile
  systems/report/generator/Int.Dockerfile
  systems/report/generator/Makefile
  systems/report/generator/cmd/server/main.go
  systems/report/generator/cmd/version/version.go
  systems/report/generator/go.mod
  systems/report/generator/go.sum
  systems/report/generator/internal/config.go
  systems/report/generator/internal/global.go
  systems/report/generator/internal/pdf/engine/wkpdf.go
  systems/report/generator/internal/pdf/pdf.go
  systems/report/generator/internal/pdf/templates/invoice.html.tmpl
  systems/report/generator/internal/server/event.go
  systems/report/generator/internal/server/event_test.go
  systems/report/generator/internal/server/fs.go
  systems/report/generator/mocks/PdfEngine.go
  systems/report/generator/test/integration/integration_test.go
Labels: enhancement, software systems, report system

#842 Console metrics
  .github/workflows/systems-node-state-pr-release.yaml
  .github/workflows/systems-node-state.yaml
  .gitignore
  builder/deploy_config.json
  builder/deploy_orgs_config.json
  builder/scripts/deploy.sh
  builder/scripts/deploy_orgs.sh
  builder/scripts/make-sys-for-mac.sh
  interfaces/console/public/svg/OnBoardingDynamic.tsx
  interfaces/console/src/app/console/nodes/[id]/page.tsx
  interfaces/console/src/client/graphql/generated/subscriptions.ts
  interfaces/console/src/client/graphql/subscriptions.graphql
  interfaces/console/src/components/DeviceModalView/index.tsx
  interfaces/console/src/components/LineChart/index.tsx
  interfaces/console/src/components/LineChart/metricSubscription.tsx
  interfaces/console/src/components/LineChart/ms.tsx
  interfaces/console/src/components/NodeDetailsCard/index.tsx
  interfaces/console/src/components/NodeNetworkTab/index.tsx
  interfaces/console/src/components/NodeOverviewTab/index.tsx
  interfaces/console/src/components/NodeRadioTab/index.tsx
  interfaces/console/src/components/NodeResourcesTab/index.tsx
  interfaces/console/src/constants/index.tsx
  interfaces/console/src/lib/MetricSubscription.ts
  interfaces/console/src/types/index.tsx
  systems/console-bff/.env.dev.example
  systems/console-bff/.env.local.example
  systems/console-bff/common/utils/index.ts
  systems/console-bff/docker-compose.yml
  systems/console-bff/subscriptions/datasource/mapper.ts
  systems/console-bff/subscriptions/resolvers/pubsub.ts
  systems/console-bff/subscriptions/resolvers/resolver.ts
  systems/console-bff/subscriptions/resolvers/types.ts
  systems/console-bff/threads/MetricsWSThread.js
  systems/console-bff/threads/MetricsWSThread.mjs
  systems/metrics/api-gateway/go.mod
  systems/metrics/api-gateway/go.sum
  systems/metrics/api-gateway/pkg/config.go
  systems/metrics/api-gateway/pkg/metric.go
  systems/metrics/api-gateway/pkg/metric_test.go
  systems/metrics/api-gateway/pkg/rest/api.go
  systems/metrics/api-gateway/pkg/rest/router.go
  systems/metrics/api-gateway/pkg/rest/router_test.go
  systems/metrics/docker-compose.yml
  systems/metrics/prometheus/prometheus.yml
  systems/nucleus/api-gateway/go.mod
  systems/nucleus/api-gateway/go.sum
  systems/nucleus/api-gateway/mocks/organization.go
  systems/nucleus/org/mocks/OrchestratorProvider.go
  systems/nucleus/org/mocks/OrgRepo.go
  systems/nucleus/org/mocks/RegistryProvider.go
  systems/nucleus/org/mocks/UserClientProvider.go
  systems/nucleus/org/mocks/UserRepo.go
  systems/nucleus/org/pb/gen/mocks/OrgServiceClient.go
  systems/nucleus/org/pb/gen/mocks/OrgServiceServer.go
  systems/nucleus/org/pb/gen/mocks/UnsafeOrgServiceServer.go
  systems/nucleus/org/pb/gen/org.pb.go
  systems/nucleus/org/pb/gen/org_grpc.pb.go
  systems/nucleus/user/pb/gen/user.validator.pb.go
  systems/registry/node/Makefile
Labels: metric system, frontend

#841 Dummy node added for testing
  .github/workflows/testing-services-dummy-node-pr-release.yaml
  .github/workflows/testing-services-dummy-node.yaml
  .gitignore
  testing/services/dummy-node/Dockerfile
  testing/services/dummy-node/Int.Dockerfile
  testing/services/dummy-node/Makefile
  testing/services/dummy-node/README.md
  testing/services/dummy-node/docker-compose.yml
  testing/services/dummy-node/go.mod
  testing/services/dummy-node/go.sum
  testing/services/dummy-node/main.go
  testing/services/dummy-node/ssl_echo.go
  testing/services/dummy-node/supervisord.conf
Labels: Test Infra

#852 Node msgcli events added
  builder/scripts/push_node_event.sh
  utils/msgcli/Makefile
  utils/msgcli/cmd/push.go
  utils/msgcli/internal/push/messages/messages.go
  utils/msgcli/internal/push/messages/node.go
Labels: cli

#850 testing/hooks: add workflows for dev deployment .
  .github/workflows/testing-services-hooks-pr-release.yaml
  .github/workflows/testing-services-hooks.yaml
  testing/services/hooks/README.md
Labels: devops
