Repository ukama/ukama, pull requests merged in 2025-02, with the labels that each got.

#854 Dummy node add basic behaviours
  .github/workflows/gen-go-workflows.sh
  .github/workflows/testing-services-dummy-node-api-gateway-pr-release.yaml
  .github/workflows/testing-services-dummy-node-api-gateway.yaml
  .github/workflows/testing-services-dummy-node-dmetrics-pr-release.yaml
  .github/workflows/testing-services-dummy-node-dmetrics.yaml
  .github/workflows/testing-services-dummy-node-dnode-pr-release.yaml
  .github/workflows/testing-services-dummy-node-dnode.yaml
  systems/metrics/prometheus/prometheus.yml
  testing/services/dummy-node/Dockerfile
  testing/services/dummy-node/Makefile
  testing/services/dummy-node/README.md
  testing/services/dummy-node/api-gateway/Dockerfile
  testing/services/dummy-node/api-gateway/Int.Dockerfile
  testing/services/dummy-node/api-gateway/Makefile
  testing/services/dummy-node/api-gateway/README.md
  testing/services/dummy-node/api-gateway/cmd/main.go
  testing/services/dummy-node/api-gateway/cmd/version/version.go
  testing/services/dummy-node/api-gateway/go.mod
  testing/services/dummy-node/api-gateway/go.sum
  testing/services/dummy-node/api-gateway/mocks/node.go
  testing/services/dummy-node/api-gateway/pkg/client/node.go
  testing/services/dummy-node/api-gateway/pkg/config.go
  testing/services/dummy-node/api-gateway/pkg/global.go
  testing/services/dummy-node/api-gateway/pkg/rest/api.go
  testing/services/dummy-node/api-gateway/pkg/rest/router.go
  testing/services/dummy-node/api-gateway/pkg/rest/router_test.go
  testing/services/dummy-node/api-gateway/test/integration/api-gateway_test.go
  testing/services/dummy-node/config.mk
  testing/services/dummy-node/dmetrics/Dockerfile
  testing/services/dummy-node/dmetrics/Int.Dockerfile
  testing/services/dummy-node/dnode/Dockerfile
  testing/services/dummy-node/dnode/Int.Dockerfile
  testing/services/dummy-node/dnode/Makefile
  testing/services/dummy-node/dnode/README.md
  testing/services/dummy-node/dnode/cmd/main.go
  testing/services/dummy-node/dnode/cmd/version/version.go
  testing/services/dummy-node/dnode/go.mod
  testing/services/dummy-node/dnode/go.sum
  testing/services/dummy-node/dnode/mocks/AmqpClient.go
  testing/services/dummy-node/dnode/mocks/NodeRepo.go
  testing/services/dummy-node/dnode/pb/dnode.proto
  testing/services/dummy-node/dnode/pb/gen/dnode.pb.go
  testing/services/dummy-node/dnode/pb/gen/dnode.validator.pb.go
  testing/services/dummy-node/dnode/pb/gen/dnode_grpc.pb.go
  testing/services/dummy-node/dnode/pb/gen/mocks/NodeServiceClient.go
  testing/services/dummy-node/dnode/pb/gen/mocks/NodeServiceServer.go
  testing/services/dummy-node/dnode/pb/gen/mocks/UnsafeNodeServiceServer.go
  testing/services/dummy-node/dnode/pkg/config.go
  testing/services/dummy-node/dnode/pkg/global.go
  testing/services/dummy-node/dnode/pkg/server/node.go
  testing/services/dummy-node/dnode/pkg/utils/amqp_client.go
  testing/services/dummy-node/dnode/pkg/utils/http_client.go
  testing/services/dummy-node/dnode/pkg/utils/pushEvents.go
  testing/services/dummy-node/dnode/pkg/utils/types.go
  testing/services/dummy-node/dnode/test/integration/integration_test.go
  testing/services/dummy-node/docker-compose.yml
  testing/services/dummy-node/go.mod
  testing/services/dummy-node/main.go
  testing/services/dummy-node/ssl_echo.go
  testing/services/dummy-node/supervisord.conf
Labels: Test Infra

#860 msgcli: Updates for supporting dev-ukama cluster as target.
  .gitignore
  builder/scripts/push_node_event.sh
  utils/msgcli/LICENSE
  utils/msgcli/Makefile
  utils/msgcli/README.md
  utils/msgcli/cmd/events.go
  utils/msgcli/cmd/push.go
  utils/msgcli/cmd/root.go
  utils/msgcli/cmd/scan.go
  utils/msgcli/cmd/version/version.go
  utils/msgcli/config.mk
  utils/msgcli/go.mod
  utils/msgcli/go.sum
  utils/msgcli/internal/push/amqp_client.go
  utils/msgcli/internal/push/events.go
  utils/msgcli/internal/push/http_client.go
  utils/msgcli/internal/push/messages/data_plan.go
  utils/msgcli/internal/push/messages/inventory.go
  utils/msgcli/internal/push/messages/messages.go
  utils/msgcli/internal/push/messages/node.go
  utils/msgcli/internal/push/messages/subscriber.go
  utils/msgcli/internal/push/push.go
  utils/msgcli/internal/scan/parse.go
  utils/msgcli/internal/scan/scan.go
  utils/msgcli/main.go
  utils/msgcli/util/types.go
Labels: devops

#864 Added top-up email notification when new plan is added to sim
  systems/common/emailTemplate/emailTemplate.go
  systems/notification/mailer/Dockerfile
  systems/notification/mailer/templates/topup-plan.tmpl
  systems/subscriber/sim-manager/pkg/server/sim_manager.go
  systems/subscriber/sim-manager/pkg/server/sim_manager_test.go
Labels: notification-system

#870 Enhance Mailer Service: Support for Email Attachments
  .github/workflows/systems-notification-mailer.yaml
  systems/notification/api-gateway/mocks/Distributor.go
  systems/notification/api-gateway/mocks/EventNotification.go
  systems/notification/api-gateway/mocks/Mailer.go
  systems/notification/api-gateway/pkg/rest/api.go
  systems/notification/api-gateway/pkg/rest/router.go
  systems/notification/api-gateway/pkg/rest/router_test.go
  systems/notification/mailer/pb/gen/mailer.pb.go
  systems/notification/mailer/pb/gen/mailer.validator.pb.go
  systems/notification/mailer/pb/mailer.proto
  systems/notification/mailer/pkg/server/mailer.go
  systems/notification/mailer/templates/member-invite.tmpl
  systems/notification/mailer/templates/sim-allocation.tmpl
  systems/notification/mailer/templates/test-template.tmpl
  systems/notification/mailer/templates/topup-plan.tmpl
Labels: enhancement, notification-system

#889 .github/actions: Update golangci-lint version to latest. Fixes #888
  .github/actions/lint-go/action.yaml
  .github/workflows/systems-notification-mailer.yaml
Labels: bug, devops
