Repository ukama/ukama, pull requests merged in 2025-04, with the labels that each got.

#962 Console updates
  interfaces/console/public/svg/OnBoardingDynamic.tsx
  interfaces/console/src/app/configure/layout.tsx
  interfaces/console/src/app/configure/node/[id]/site/[name]/install/page.tsx
  interfaces/console/src/app/configure/sims/page.tsx
  interfaces/console/src/app/console/sites/[id]/page.tsx
  interfaces/console/src/app/console/subscribers/page.tsx
  interfaces/console/src/app/manage/data-plans/page.tsx
  interfaces/console/src/app/manage/nodes/page.tsx
  interfaces/console/src/app/manage/sims/page.tsx
  interfaces/console/src/components/Layout/Header/index.tsx
  interfaces/console/src/components/NotificationsUI/index.tsx
  interfaces/console/src/components/PlanCard/index.tsx
  interfaces/console/src/components/SimpleDataTable/index.tsx
  interfaces/console/src/constants/index.tsx
  interfaces/console/src/types/index.tsx
  systems/console-bff/node/dataSource/mapper.ts
  testing/services/dummy/docker-compose.yml
Labels: console

#965 Subscriber/sim-manager: use initClient for ukamaAgentHost lookups. Fixes #959
  systems/subscriber/docker-compose.yml
  systems/subscriber/sim-manager/cmd/server/main.go
  systems/subscriber/sim-manager/pkg/config.go
Labels: software systems, subscriber-system

#968 Console network create behaviour updates
  interfaces/console/src/app/configure/check/page.tsx
  interfaces/console/src/app/configure/layout.tsx
  interfaces/console/src/app/configure/network/page.tsx
  interfaces/console/src/app/configure/node/[id]/page.tsx
  interfaces/console/src/app/configure/node/[id]/site/[name]/install/page.tsx
  interfaces/console/src/app/configure/page.tsx
  interfaces/console/src/app/configure/sims/page.tsx
  interfaces/console/src/app/console/sites/page.tsx
  interfaces/console/src/client/graphql/generated/subscriptions.ts
  interfaces/console/src/components/InstallSiteLoading/index.tsx
  interfaces/console/src/components/Layout/Sidebar/index.tsx
  interfaces/console/src/components/NetworkMap/OverlayUI.tsx
  interfaces/console/src/lib/MetricStatSubscription.ts
  interfaces/console/src/utils/index.tsx
  systems/console-bff/subscriptions/datasource/mapper.ts
  systems/console-bff/subscriptions/resolvers/types.ts
Labels: console

#976 Sites list endpoint added and handle backward compatability
  interfaces/console/src/app/console/home/page.tsx
  interfaces/console/src/app/console/nodes/page.tsx
  interfaces/console/src/app/console/sites/[id]/page.tsx
  interfaces/console/src/app/console/sites/page.tsx
  interfaces/console/src/app/manage/nodes/page.tsx
  interfaces/console/src/client/graphql/generated/index.ts
  interfaces/console/src/client/graphql/index.graphql
  systems/console-bff/org/resolver/getOrgTree.ts
  systems/console-bff/site/datasource/site_api.ts
  systems/console-bff/site/resolvers/getSites.ts
  systems/console-bff/site/resolvers/types.ts
  systems/registry/api-gateway/mocks/invitation.go
  systems/registry/api-gateway/mocks/member.go
  systems/registry/api-gateway/mocks/network.go
  systems/registry/api-gateway/mocks/node.go
  systems/registry/api-gateway/mocks/site.go
  systems/registry/api-gateway/pkg/client/site.go
  systems/registry/api-gateway/pkg/rest/api.go
  systems/registry/api-gateway/pkg/rest/router.go
  systems/registry/site/mocks/NetworkClientProvider.go
  systems/registry/site/mocks/SiteRepo.go
  systems/registry/site/pb/gen/mocks/SiteServiceClient.go
  systems/registry/site/pb/gen/mocks/SiteServiceServer.go
  systems/registry/site/pb/gen/mocks/UnsafeSiteServiceServer.go
  systems/registry/site/pb/gen/site.pb.go
  systems/registry/site/pb/gen/site.validator.pb.go
  systems/registry/site/pb/gen/site_grpc.pb.go
  systems/registry/site/pb/site.proto
  systems/registry/site/pkg/db/model.go
  systems/registry/site/pkg/db/site_repo.go
  systems/registry/site/pkg/server/site.go
  systems/registry/site/pkg/server/site_test.go
Labels: console, registry-system, frontend

#977 Hot fix console nodes
  interfaces/console/src/app/console/nodes/page.tsx
  interfaces/console/src/app/manage/nodes/page.tsx
  interfaces/console/src/components/BasicDropdown/index.tsx
  interfaces/console/src/components/Layout/Sidebar/index.tsx
  systems/registry/site/pkg/db/site_repo.go
Labels: console

#982 Console hooked node restart behaviour
  interfaces/console/src/apolloClient.ts
  interfaces/console/src/app/configure/check/page.tsx
  interfaces/console/src/app/console/home/page.tsx
  interfaces/console/src/app/console/layout.tsx
  interfaces/console/src/app/console/nodes/[id]/page.tsx
  interfaces/console/src/app/console/nodes/page.tsx
  interfaces/console/src/app/console/sites/[id]/page.tsx
  interfaces/console/src/app/manage/layout.tsx
  interfaces/console/src/app/manage/nodes/page.tsx
  interfaces/console/src/app/manage/sims/page.tsx
  interfaces/console/src/client/client.ts
  interfaces/console/src/client/graphql/generated/index.ts
  interfaces/console/src/client/graphql/index.graphql
  interfaces/console/src/components/DataTableWithOptions/index.tsx
  interfaces/console/src/components/DeviceModalView/index.tsx
  interfaces/console/src/components/NodeActionUI/index.tsx
  interfaces/console/src/components/NodeDetailsCard/index.tsx
  interfaces/console/src/components/NodeDropDown/index.tsx
  interfaces/console/src/components/NodeOverviewTab/index.tsx
  interfaces/console/src/components/NodeStatus/index.tsx
  interfaces/console/src/components/SimpleDataTable/index.tsx
  interfaces/console/src/components/SplitButton/index.tsx
  interfaces/console/src/constants/index.tsx
  interfaces/console/src/utils/index.tsx
  interfaces/console/src/wrappers/apolloWrapper.tsx
  systems/console-bff/common/notification/index.ts
  systems/console-bff/common/utils/index.ts
  systems/console-bff/node/dataSource/node-api.ts
  systems/console-bff/node/resolvers/getNodes.ts
  systems/console-bff/node/resolvers/getNodesLocation.ts
  systems/console-bff/node/resolvers/types.ts
  systems/console-bff/subscriptions/datasource/mapper.ts
  systems/console-bff/subscriptions/resolvers/resolver.ts
  systems/metrics/docker-compose.yml
  systems/node/docker-compose.yml
  systems/registry/node/pkg/server/event.go
  testing/common/enums/scenarios.go
  testing/services/dummy/dnode/server/main.go
  testing/services/dummy/dnode/utils/pushEvents.go
Labels: registry-system, frontend

#979 subscriber/sim-manager: update sim metrics computations. Fixes #832
  systems/subscriber/sim-manager/mocks/SimRepo.go
  systems/subscriber/sim-manager/pb/gen/sim_manager.validator.pb.go
  systems/subscriber/sim-manager/pkg/config.go
  systems/subscriber/sim-manager/pkg/db/sim_repo.go
  systems/subscriber/sim-manager/pkg/server/sim_manager.go
  systems/subscriber/sim-manager/pkg/server/sim_manager_test.go
Labels: software systems, subscriber-system

#984 Subscriber/Sim Manager: Auto activate next package. Fixes #899
  systems/common/pb/events/asr.proto
  systems/common/pb/events/asrprofile.proto
  systems/common/pb/events/simmanager.proto
  systems/common/pb/gen/events/asr.pb.go
  systems/common/pb/gen/events/asr.validator.pb.go
  systems/common/pb/gen/events/asrprofile.pb.go
  systems/common/pb/gen/events/asrprofile.validator.pb.go
  systems/common/pb/gen/events/simmanager.pb.go
  systems/common/rest/client/client.go
  systems/common/rest/client/ukamaagent/ukama_agent.go
  systems/common/rest/client/ukamaagent/ukama_agent_test.go
  systems/subscriber/api-gateway/mocks/simManager.go
  systems/subscriber/api-gateway/mocks/simPool.go
  systems/subscriber/api-gateway/mocks/subscriber.go
  systems/subscriber/api-gateway/pkg/rest/api.go
  systems/subscriber/sim-manager/pb/gen/mocks/SimManagerServiceClient.go
  systems/subscriber/sim-manager/pb/gen/mocks/SimManagerServiceServer.go
  systems/subscriber/sim-manager/pb/gen/sim_manager.pb.go
  systems/subscriber/sim-manager/pb/gen/sim_manager.validator.pb.go
  systems/subscriber/sim-manager/pb/gen/sim_manager_grpc.pb.go
  systems/subscriber/sim-manager/pb/sim_manager.proto
  systems/subscriber/sim-manager/pkg/clients/adapters/test_agent.go
  systems/subscriber/sim-manager/pkg/config.go
  systems/subscriber/sim-manager/pkg/db/model.go
  systems/subscriber/sim-manager/pkg/db/package_repo.go
  systems/subscriber/sim-manager/pkg/db/package_repo_test.go
  systems/subscriber/sim-manager/pkg/interceptor/fake_sim.go
  systems/subscriber/sim-manager/pkg/server/event.go
  systems/subscriber/sim-manager/pkg/server/sim_manager.go
  systems/subscriber/sim-manager/pkg/server/sim_manager_test.go
  systems/subscriber/sim-manager/pkg/utils/sim_token_test.go
  systems/subscriber/sim-manager/pkg/utils/test_uuid.go
  systems/ukama-agent/api-gateway/pkg/client/asr.go
  systems/ukama-agent/api-gateway/pkg/client/asr_test.go
  systems/ukama-agent/api-gateway/pkg/rest/api.go
  systems/ukama-agent/api-gateway/pkg/rest/router.go
  systems/ukama-agent/api-gateway/pkg/rest/router_test.go
  systems/ukama-agent/asr/mocks/Controller.go
  systems/ukama-agent/asr/pb/asr.proto
  systems/ukama-agent/asr/pb/gen/asr.pb.go
  systems/ukama-agent/asr/pb/gen/asr.validator.pb.go
  systems/ukama-agent/asr/pkg/client/cdr.go
  systems/ukama-agent/asr/pkg/db/asr_repo_test.go
  systems/ukama-agent/asr/pkg/db/model.go
  systems/ukama-agent/asr/pkg/policy/controller.go
  systems/ukama-agent/asr/pkg/policy/policyType.go
  systems/ukama-agent/asr/pkg/policy/policyType_test.go
  systems/ukama-agent/asr/pkg/server/asr.go
  systems/ukama-agent/asr/pkg/server/asr_test.go
  systems/ukama-agent/asr/test/integration/asr_test.go
  systems/ukama-agent/asr/test/stubs/stub.go
  systems/ukama-agent/cdr/mocks/CDRRepo.go
  systems/ukama-agent/cdr/mocks/UsageRepo.go
  systems/ukama-agent/cdr/pb/gen/mocks/CDRServiceClient.go
  systems/ukama-agent/cdr/pb/gen/mocks/CDRServiceServer.go
  systems/ukama-agent/cdr/pb/gen/mocks/UnsafeCDRServiceServer.go
  systems/ukama-agent/cdr/pkg/server/cdr.go
  systems/ukama-agent/cdr/pkg/server/event.go
Labels: software systems, subscriber-system

#981 ukama-agent/cdr: add support for push gateway. Fixes #953
  systems/ukama-agent/asr/pb/asr.proto
  systems/ukama-agent/asr/pkg/config.go
  systems/ukama-agent/cdr/cmd/server/main.go
  systems/ukama-agent/cdr/go.mod
  systems/ukama-agent/cdr/go.sum
  systems/ukama-agent/cdr/mocks/AsrService.go
  systems/ukama-agent/cdr/pkg/client/asr.go
  systems/ukama-agent/cdr/pkg/config.go
  systems/ukama-agent/cdr/pkg/server/cdr.go
  systems/ukama-agent/cdr/pkg/server/cdr_test.go
Labels: software systems, ukama-agent

#986 Console sim data usage query hooked
  interfaces/console/src/app/console/subscribers/page.tsx
  interfaces/console/src/client/graphql/generated/index.ts
  interfaces/console/src/client/graphql/index.graphql
  interfaces/console/src/components/SubscriberDetails/dataPlanInfo.tsx
  interfaces/console/src/components/SubscriberDetails/index.tsx
  interfaces/console/src/constants/index.tsx
  interfaces/console/src/utils/index.tsx
  systems/console-bff/Dockerfile
  systems/console-bff/common/utils/index.ts
  systems/console-bff/sim/datasource/mapper.ts
  systems/console-bff/sim/datasource/sim_api.ts
  systems/console-bff/sim/resolver/getDataUsage.ts
  systems/console-bff/sim/resolver/getDataUsages.ts
  systems/console-bff/sim/resolver/index.ts
  systems/console-bff/sim/resolver/types.ts
Labels: frontend
