Repository ukama/ukama, pull requests merged in 2025-07, with the labels that each got.

#1062 Simpool service unit test coverage improved
  systems/subscriber/sim-pool/mocks/SimRepo.go
  systems/subscriber/sim-pool/pb/gen/mocks/SimServiceClient.go
  systems/subscriber/sim-pool/pb/gen/mocks/SimServiceServer.go
  systems/subscriber/sim-pool/pb/gen/mocks/UnsafeSimServiceServer.go
  systems/subscriber/sim-pool/pkg/db/model.go
  systems/subscriber/sim-pool/pkg/db/sim_repo.go
  systems/subscriber/sim-pool/pkg/db/sim_repo_test.go
  systems/subscriber/sim-pool/pkg/server/sim.go
  systems/subscriber/sim-pool/pkg/server/sim_test.go
  systems/subscriber/sim-pool/pkg/utils/utils.go
  systems/subscriber/sim-pool/pkg/utils/utils_test.go
Labels: Test Infra, subscriber-system

#1069 common/rest update unit tests + refactoring.
  systems/common/rest/client/client.go
  systems/common/rest/client/dataplan/package.go
  systems/common/rest/client/dataplan/package_test.go
  systems/common/rest/client/inventory/component.go
  systems/common/rest/client/inventory/component_test.go
  systems/common/rest/client/notification/mailer.go
  systems/common/rest/client/notification/mailer_test.go
  systems/common/rest/client/nucleus/org.go
  systems/common/rest/client/nucleus/org_test.go
  systems/common/rest/client/nucleus/user.go
  systems/common/rest/client/nucleus/user_test.go
  systems/common/rest/client/operatoragent/operator_agent.go
  systems/common/rest/client/operatoragent/operator_agent_test.go
  systems/common/rest/client/registry/member.go
  systems/common/rest/client/registry/member_test.go
  systems/common/rest/client/registry/network.go
  systems/common/rest/client/registry/network_test.go
  systems/common/rest/client/registry/node.go
  systems/common/rest/client/registry/node_test.go
  systems/common/rest/client/registry/site.go
  systems/common/rest/client/registry/site_test.go
  systems/common/rest/client/subscriber/sim.go
  systems/common/rest/client/subscriber/sim_test.go
  systems/common/rest/client/subscriber/subscriber.go
  systems/common/rest/client/subscriber/subscriber_test.go
  systems/common/rest/client/ukamaagent/ukama_agent.go
  systems/common/rest/client/ukamaagent/ukama_agent_test.go
Labels: enhancement, software systems, common

#1067 Fix ukamaOS flashing and booting on Comp (tower node)
  builder/scripts/build-all-apps.sh
  builder/scripts/build-system/build-com-image.sh
  builder/scripts/build-system/build-distro.sh
  builder/scripts/build-system/build-env-setup.sh
  builder/scripts/build-system/build-rootfs.sh
  builder/scripts/build-system/rootfs-env-setup.sh
  builder/scripts/flash-system/README_smarc-com.txt
  builder/scripts/flash-system/create_auto_iso.sh
  builder/scripts/flash-system/create_dual_partition_usb.sh
  builder/scripts/flash-system/create_vanilla_alpine_usb.sh
  builder/scripts/flash-system/orchestrate_smarc_flash.sh
  builder/scripts/flash-system/smarc_config.yaml
  builder/scripts/make-app.sh
  builder/src/main_app.c
  nodes/ukamaOS/config.mk
  nodes/ukamaOS/distro/platform/Makefile
  nodes/ukamaOS/distro/system/bootstrap/Makefile
  nodes/ukamaOS/distro/system/bootstrap/src/config.c
  nodes/ukamaOS/distro/system/configd/Makefile
  nodes/ukamaOS/distro/system/deviced/Makefile
  nodes/ukamaOS/distro/system/example/Makefile
  nodes/ukamaOS/distro/system/init/Makefile
  nodes/ukamaOS/distro/system/lookoutd/Makefile
  nodes/ukamaOS/distro/system/meshd/Makefile
  nodes/ukamaOS/distro/system/metricsd/Makefile
  nodes/ukamaOS/distro/system/noded/Makefile
  nodes/ukamaOS/distro/system/notifyd/Makefile
  nodes/ukamaOS/distro/system/rlog/Makefile
  nodes/ukamaOS/distro/system/starterd/Makefile
  nodes/ukamaOS/distro/system/starterd/src/capp_runtime.c
  nodes/ukamaOS/distro/system/wimcd/Makefile
Labels: devops, ukamaOS

#1073 common/ukama: update mail status and dependent service.
  systems/common/ukama/mail_status.go
  systems/common/ukama/mail_status_test.go
  systems/notification/mailer/cmd/server/main.go
  systems/notification/mailer/mocks/MailerRepo.go
  systems/notification/mailer/pb/gen/mailer.pb.go
  systems/notification/mailer/pb/gen/mailer_grpc.pb.go
  systems/notification/mailer/pb/gen/mocks/MailerServiceClient.go
  systems/notification/mailer/pb/gen/mocks/MailerServiceServer.go
  systems/notification/mailer/pb/gen/mocks/UnsafeMailerServiceServer.go
  systems/notification/mailer/pkg/db/mailer_repo.go
  systems/notification/mailer/pkg/db/mailer_repo_test.go
  systems/notification/mailer/pkg/db/model.go
  systems/notification/mailer/pkg/server/mailer.go
  systems/notification/mailer/pkg/server/mailer_test.go
Labels: enhancement, software systems, common
