Repository ukama/ukama, pull requests merged in 2025-06, with the labels that each got.

#1035 Hot fixes for #1010
  builder/scripts/build-system/build-distro.sh
  builder/scripts/build-system/build-rootfs.sh
  builder/scripts/build-system/run-ukama-image.sh
  nodes/ukamaOS/distro/platform/log/src/websocket.c
  nodes/ukamaOS/distro/system/bootstrap/src/config.c
Labels: ukamaOS

#1033 Node metrics updates. Fixes #1032
  systems/metrics/sanitizer/pkg/config.go
  systems/metrics/sanitizer/pkg/server/sanitizer.go
  systems/registry/node/mocks/NodeRepo.go
  systems/registry/node/mocks/NodeStatusRepo.go
  systems/registry/node/mocks/SiteClientProvider.go
  systems/registry/node/mocks/SiteRepo.go
  systems/registry/node/pb/gen/mocks/NodeServiceClient.go
  systems/registry/node/pb/gen/mocks/NodeServiceServer.go
  systems/registry/node/pb/gen/mocks/UnsafeNodeServiceServer.go
  systems/registry/node/pb/gen/node.pb.go
  systems/registry/node/pb/gen/node.validator.pb.go
  systems/registry/node/pb/gen/node_grpc.pb.go
  systems/registry/node/pb/node.proto
Labels: software systems, metric system, registry-system

#1028 Console testing CI
  .github/workflows/testing-console.yml
  testing/console/.env.example
  testing/console/constants/index.ts
  testing/console/package.json
  testing/console/patches/common.ts
  testing/console/playwright.config.ts
  testing/console/pnpm-lock.yaml
  testing/services/dummy/dnode/config/config.go
  testing/services/dummy/dnode/server/main.go
  testing/services/dummy/docker-compose.yml
Labels: console, Test Infra

#1046 Sim manager: Usage query updates
  systems/common/pb/events/node.proto
  systems/common/rest/client/operatoragent/operator_agent.go
  systems/common/rest/client/operatoragent/operator_agent_test.go
  systems/common/rest/client/ukamaagent/ukama_agent.go
  systems/common/rest/client/ukamaagent/ukama_agent_test.go
Labels: software systems, common

#1047 Add active subscriber count per site on site page and site d…
  interfaces/console/src/app/console/sites/[id]/page.tsx
  interfaces/console/src/components/SiteCard/index.tsx
  interfaces/console/src/constants/index.tsx
  interfaces/console/src/utils/index.tsx
  systems/console-bff/common/utils/index.ts
Labels: console

#1052 Console home aggregated KPI's bug fix
  .gitignore
  interfaces/console/src/app/console/home/page.tsx
  systems/console-bff/common/utils/index.ts
  systems/console-bff/subscriptions/datasource/mapper.ts
  systems/console-bff/subscriptions/datasource/subscriptions-api.ts
Labels: console, frontend
