Repository ukama/ukama, pull requests merged in 2025-03, with the labels that each got.

#897 Slack workflows daily notifications. Fixes #896
  .github/workflows/slack.yaml
Labels: devops

#917 Streamline metrics to essential site KPIs only
  testing/services/dummy/dcontroller/pb/dcontroller.proto
  testing/services/dummy/dcontroller/pb/gen/dcontroller.pb.go
  testing/services/dummy/dcontroller/pb/gen/dcontroller.validator.pb.go
  testing/services/dummy/dcontroller/pb/gen/dcontroller_grpc.pb.go
  testing/services/dummy/dcontroller/pkg/metrics/metrics.go
  testing/services/dummy/dcontroller/pkg/server/dcontroller.go
Labels: Test Infra

#920 Implemented dummy sim factory
  .github/workflows/bff.yaml
  .github/workflows/console.yaml
  .github/workflows/testing-services-dummy-api-gateway.yaml
  .github/workflows/testing-services-dummy-dcontroller.yaml
  .github/workflows/testing-services-dummy-dnode.yaml
  .github/workflows/testing-services-dummy-dsimfactory-pr-release.yaml
  .github/workflows/testing-services-dummy-dsimfactory.yaml
  .github/workflows/testing-services-dummy-dsubscriber.yaml
  builder/deploy_config.json
  builder/metadata.json
  builder/scripts/make-sys-for-mac.sh
  interfaces/console/.env.dev.example
  interfaces/console/docker-compose.yml
  systems/console-bff/.env.dev.example
  systems/console-bff/docker-compose.yml
  systems/ukama-agent/docker-compose.yml
  testing/services/dummy/api-gateway/Int.Dockerfile
  testing/services/dummy/api-gateway/README.md
  testing/services/dummy/api-gateway/go.mod
  testing/services/dummy/api-gateway/go.sum
  testing/services/dummy/api-gateway/pkg/client/dcontroller.go
  testing/services/dummy/api-gateway/pkg/client/dsimfactory.go
  testing/services/dummy/api-gateway/pkg/config.go
  testing/services/dummy/api-gateway/pkg/rest/api.go
  testing/services/dummy/api-gateway/pkg/rest/router.go
  testing/services/dummy/api-gateway/pkg/rest/router_test.go
  testing/services/dummy/dnode/Int.Dockerfile
  testing/services/dummy/dnode/go.mod
  testing/services/dummy/dnode/go.sum
  testing/services/dummy/dnode/server/main.go
  testing/services/dummy/dnode/utils/pushEvents.go
  testing/services/dummy/docker-compose.yml
  testing/services/dummy/dsimfactory/Dockerfile
  testing/services/dummy/dsimfactory/Int.Dockerfile
  testing/services/dummy/dsimfactory/Makefile
  testing/services/dummy/dsimfactory/README.md
  testing/services/dummy/dsimfactory/cmd/server/main.go
  testing/services/dummy/dsimfactory/cmd/version/version.go
  testing/services/dummy/dsimfactory/go.mod
  testing/services/dummy/dsimfactory/go.sum
  testing/services/dummy/dsimfactory/pb/dsimfactory.proto
  testing/services/dummy/dsimfactory/pb/gen/dsimfactory.pb.go
  testing/services/dummy/dsimfactory/pb/gen/dsimfactory.validator.pb.go
  testing/services/dummy/dsimfactory/pb/gen/dsimfactory_grpc.pb.go
  testing/services/dummy/dsimfactory/pkg/config.go
  testing/services/dummy/dsimfactory/pkg/db/model.go
  testing/services/dummy/dsimfactory/pkg/db/sim_repo.go
  testing/services/dummy/dsimfactory/pkg/global.go
  testing/services/dummy/dsimfactory/pkg/server/sim.go
  testing/services/dummy/dsimfactory/pkg/utils/utils.go
  testing/services/dummy/dsubscriber/Makefile
  testing/services/dummy/dsubscriber/cmd/server/main.go
  testing/services/dummy/dsubscriber/go.mod
  testing/services/dummy/dsubscriber/go.sum
  testing/services/dummy/dsubscriber/pkg/config.go
  testing/services/dummy/dsubscriber/pkg/providers/dsimfactory.go
  testing/services/dummy/dsubscriber/pkg/server/dsubscriber.go
  testing/services/dummy/dsubscriber/utils/worker.go
Labels: Test Infra

#923 Console graph fixes
  interfaces/console/src/app/console/home/page.tsx
  interfaces/console/src/app/console/nodes/[id]/page.tsx
  interfaces/console/src/client/graphql/generated/subscriptions.ts
  interfaces/console/src/client/graphql/subscriptions.graphql
  interfaces/console/src/components/LineChart/index.tsx
  interfaces/console/src/components/NodeStatItem/index.tsx
  interfaces/console/src/constants/index.tsx
  interfaces/console/src/lib/MetricStatSubscription.ts
  interfaces/console/src/types/index.tsx
  interfaces/console/src/utils/index.tsx
  systems/console-bff/common/configs/index.ts
  systems/console-bff/common/enums/index.ts
  systems/console-bff/common/utils/index.ts
  systems/console-bff/subscriptions/datasource/mapper.ts
  systems/console-bff/subscriptions/datasource/subscriptions-api.ts
  systems/console-bff/subscriptions/resolvers/resolver.ts
  systems/console-bff/subscriptions/resolvers/types.ts
  systems/console-bff/threads/MetricsWSThread.mjs
  systems/metrics/prometheus/prometheus.yml
Labels: frontend

#925 Implement REST Client Communication for DController and DNode Metrics Exporters
  systems/common/rest/client/registry/site.go
  systems/node/api-gateway/pkg/rest/api.go
  testing/services/dummy/dcontroller/Dockerfile
  testing/services/dummy/dcontroller/Int.Dockerfile
  testing/services/dummy/dcontroller/cmd/main.go
  testing/services/dummy/dcontroller/cmd/version/version.go
  testing/services/dummy/dcontroller/global.go
  testing/services/dummy/dcontroller/go.mod
  testing/services/dummy/dcontroller/go.sum
  testing/services/dummy/dcontroller/makefile
  testing/services/dummy/dcontroller/pb/dcontroller.proto
  testing/services/dummy/dcontroller/pb/gen/dcontroller.pb.go
  testing/services/dummy/dcontroller/pb/gen/dcontroller.validator.pb.go
  testing/services/dummy/dcontroller/pb/gen/dcontroller_grpc.pb.go
  testing/services/dummy/dcontroller/pkg/client/client.go
  testing/services/dummy/dcontroller/pkg/config.go
  testing/services/dummy/dcontroller/pkg/global.go
  testing/services/dummy/dcontroller/pkg/metrics/metrics.go
  testing/services/dummy/dcontroller/pkg/server/dcontroller.go
  testing/services/dummy/dcontroller/pkg/server/event.go
Labels: Test Infra

#926 Console graph ranges added
  interfaces/console/src/app/console/nodes/[id]/page.tsx
  interfaces/console/src/client/graphql/generated/subscriptions.ts
  interfaces/console/src/client/graphql/subscriptions.graphql
  interfaces/console/src/components/LineChart/index.tsx
  interfaces/console/src/components/NodeNetworkTab/index.tsx
  interfaces/console/src/components/NodeOverviewTab/index.tsx
  interfaces/console/src/components/NodeRadioTab/index.tsx
  interfaces/console/src/components/NodeResourcesTab/index.tsx
  interfaces/console/src/constants/index.tsx
  interfaces/console/src/theme/colors.tsx
  interfaces/console/src/utils/index.tsx
  systems/console-bff/common/utils/index.ts
  systems/console-bff/subscriptions/datasource/mapper.ts
  systems/console-bff/subscriptions/resolvers/resolver.ts
  systems/console-bff/threads/MetricsWSThread.mjs
  testing/services/dummy/dnode/config/config.go
Labels: frontend

#929 Turn off daily workflows runs. Fixes #928
  .github/workflows/systems-api-api-gateway-daily.yaml
  .github/workflows/systems-auth-api-gateway-daily.yaml
  .github/workflows/systems-billing-api-gateway-daily.yaml
  .github/workflows/systems-billing-collector-daily.yaml
  .github/workflows/systems-billing-report-daily.yaml
  .github/workflows/systems-data-plan-api-gateway-daily.yaml
  .github/workflows/systems-data-plan-base-rate-daily.yaml
  .github/workflows/systems-data-plan-package-daily.yaml
  .github/workflows/systems-data-plan-rate-daily.yaml
  .github/workflows/systems-hub-api-gateway-daily.yaml
  .github/workflows/systems-hub-artifactManager-daily.yaml
  .github/workflows/systems-hub-distributor-daily.yaml
  .github/workflows/systems-hub-node-gateway-daily.yaml
  .github/workflows/systems-init-api-gateway-daily.yaml
  .github/workflows/systems-init-lookup-daily.yaml
  .github/workflows/systems-init-node-gateway-daily.yaml
  .github/workflows/systems-inventory-accounting-daily.yaml
  .github/workflows/systems-inventory-api-gateway-daily.yaml
  .github/workflows/systems-inventory-component-daily.yaml
  .github/workflows/systems-messaging-api-gateway-daily.yaml
  .github/workflows/systems-messaging-nns-daily.yaml
  .github/workflows/systems-messaging-node-feeder-daily.yaml
  .github/workflows/systems-metrics-api-gateway-daily.yaml
  .github/workflows/systems-metrics-exporter-daily.yaml
  .github/workflows/systems-node-api-gateway-daily.yaml
  .github/workflows/systems-node-configurator-daily.yaml
  .github/workflows/systems-node-controller-daily.yaml
  .github/workflows/systems-node-health-daily.yaml
  .github/workflows/systems-node-node-gateway-daily.yaml
  .github/workflows/systems-node-notify-daily.yaml
  .github/workflows/systems-node-software-daily.yaml
  .github/workflows/systems-node-state-daily.yaml
  .github/workflows/systems-notification-api-gateway-daily.yaml
  .github/workflows/systems-notification-distributor-daily.yaml
  .github/workflows/systems-notification-event-notify-daily.yaml
  .github/workflows/systems-notification-mailer-daily.yaml
  .github/workflows/systems-nucleus-api-gateway-daily.yaml
  .github/workflows/systems-nucleus-org-daily.yaml
  .github/workflows/systems-nucleus-user-daily.yaml
  .github/workflows/systems-registry-api-gateway-daily.yaml
  .github/workflows/systems-registry-invitation-daily.yaml
  .github/workflows/systems-registry-member-daily.yaml
  .github/workflows/systems-registry-network-daily.yaml
  .github/workflows/systems-registry-node-daily.yaml
  .github/workflows/systems-registry-site-daily.yaml
  .github/workflows/systems-report-api-gateway-daily.yaml
  .github/workflows/systems-report-generator-daily.yaml
  .github/workflows/systems-services-msgClient-daily.yaml
  .github/workflows/systems-subscriber-api-gateway-daily.yaml
  .github/workflows/systems-subscriber-registry-daily.yaml
  .github/workflows/systems-subscriber-sim-manager-daily.yaml
  .github/workflows/systems-subscriber-sim-pool-daily.yaml
  .github/workflows/systems-subscriber-test-agent-daily.yaml
  .github/workflows/systems-ukama-agent-api-gateway-daily.yaml
  .github/workflows/systems-ukama-agent-asr-daily.yaml
  .github/workflows/systems-ukama-agent-cdr-daily.yaml
  .github/workflows/systems-ukama-agent-node-gateway-daily.yaml
Labels: devops

#930 Dnode service fixes
  systems/console-bff/subscriptions/resolvers/resolver.ts
  testing/services/dummy/dnode/server/main.go
  testing/services/dummy/dnode/utils/worker.go
Labels: bug, Test Infra

#934 Console line chart component fix zoom bug
  interfaces/console/src/components/LineChart/index.tsx
  interfaces/console/src/components/LineChart/linechart.css
  interfaces/console/src/constants/index.tsx
  interfaces/console/src/styles/global.css
  interfaces/console/src/utils/index.tsx
Labels: bug, frontend

#939 KPI threshold values and format fixes
  interfaces/console/src/components/LineChart/index.tsx
  interfaces/console/src/components/NodeNetworkTab/index.tsx
  interfaces/console/src/components/NodeOverviewTab/index.tsx
  interfaces/console/src/components/NodeRadioTab/index.tsx
  interfaces/console/src/components/NodeResourcesTab/index.tsx
  interfaces/console/src/components/NodeStatItem/index.tsx
  interfaces/console/src/components/SiteComponents/index.tsx
  interfaces/console/src/constants/index.tsx
  interfaces/console/src/theme/colors.tsx
  interfaces/console/src/utils/index.tsx
  testing/services/dummy/dnode/config/config.go
Labels: console

#943 Dnode threshold values as config
  testing/services/dummy/dnode/config/config.go
  testing/services/dummy/dnode/go.mod
  testing/services/dummy/dnode/go.sum
  testing/services/dummy/dnode/server/main.go
Labels: Test Infra

#940 Ukama agent multiples fixes.
  systems/subscriber/sim-manager/mocks/AgentAdapter.go
  systems/subscriber/sim-manager/mocks/AgentFactory.go
  systems/subscriber/sim-manager/mocks/PackageRepo.go
  systems/subscriber/sim-manager/mocks/SimPoolClientProvider.go
  systems/subscriber/sim-manager/mocks/SimRepo.go
  systems/subscriber/sim-manager/mocks/SubscriberRegistryClientProvider.go
  systems/subscriber/sim-manager/pb/gen/mocks/SimManagerServiceClient.go
  systems/subscriber/sim-manager/pb/gen/mocks/SimManagerServiceServer.go
  systems/subscriber/sim-manager/pb/gen/mocks/UnsafeSimManagerServiceServer.go
  systems/subscriber/sim-manager/pb/gen/sim_manager.validator.pb.go
  systems/subscriber/sim-manager/pkg/server/sim_manager.go
  systems/subscriber/sim-manager/pkg/utils/sim_token_test.go
  systems/ukama-agent/api-gateway/mocks/asr.go
  systems/ukama-agent/api-gateway/pkg/rest/api.go
  systems/ukama-agent/asr/Makefile
  systems/ukama-agent/asr/cmd/server/main.go
  systems/ukama-agent/asr/mocks/AsrRecordRepo.go
  systems/ukama-agent/asr/mocks/CDRService.go
  systems/ukama-agent/asr/mocks/Controller.go
  systems/ukama-agent/asr/mocks/Factory.go
  systems/ukama-agent/asr/mocks/GutiRepo.go
  systems/ukama-agent/asr/mocks/Network.go
  systems/ukama-agent/asr/mocks/Subscriber.go
  systems/ukama-agent/asr/pb/asr.proto
  systems/ukama-agent/asr/pb/gen/asr.pb.go
  systems/ukama-agent/asr/pb/gen/asr.validator.pb.go
  systems/ukama-agent/asr/pb/gen/asr_grpc.pb.go
  systems/ukama-agent/asr/pb/gen/mocks/AsrRecordServiceClient.go
  systems/ukama-agent/asr/pb/gen/mocks/AsrRecordServiceServer.go
  systems/ukama-agent/asr/pb/gen/mocks/UnsafeAsrRecordServiceServer.go
  systems/ukama-agent/asr/pb/gen/mocks/isReadReq_Id.go
  systems/ukama-agent/asr/pb/gen/mocks/isUsageForPeriodReq_Id.go
  systems/ukama-agent/asr/pb/gen/mocks/isUsageReq_Id.go
  systems/ukama-agent/asr/pkg/client/api.go
  systems/ukama-agent/asr/pkg/client/network.go
  systems/ukama-agent/asr/pkg/client/network_test.go
  systems/ukama-agent/asr/pkg/client/sim_factory.go
  systems/ukama-agent/asr/pkg/client/sim_factory_test.go
  systems/ukama-agent/asr/pkg/client/subscriber.go
  systems/ukama-agent/asr/pkg/config.go
  systems/ukama-agent/asr/pkg/db/asr_repo.go
  systems/ukama-agent/asr/pkg/db/model.go
  systems/ukama-agent/asr/pkg/policy/controller.go
  systems/ukama-agent/asr/pkg/policy/policyType.go
  systems/ukama-agent/asr/pkg/server/asr.go
  systems/ukama-agent/asr/pkg/server/asr_test.go
  systems/ukama-agent/asr/pkg/server/event.go
  systems/ukama-agent/docker-compose.yml
Labels: software systems
